<%
content_for :title, t('plugins.invisible_threads.invisible_threads')
content_for :h1, t('plugins.invisible_threads.invisible_threads')
content_for(:body_id, "invisible-threads-list")
content_for(:body_classes, 'invisible-threads list')
%>

<div data-js="threadlist">
  <% if @threads.empty? %>
    <p><%= t('plugins.invisible_threads.no_threads') %></p>
  <% end %>
  <% @threads.each do |t| %>
    <%=  render 'cf_threads/thread', thread: t %>
  <% end %>
</div>

<%= paginate @threads %>
