<%
content_for :title, t("admin.groups.new_group")
content_for :h1, "<h1>".html_safe + t("admin.groups.new_group") + "</h1>".html_safe
%>

<%= form_for @group, url: admin_groups_path, html: {class: 'form-horizontal'} do |t| %>

  <%= render 'form', t: t %>

  <p class="form-actions">
    <%= t.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), admin_groups_path, class: 'cf-btn' %>
  </p>

<% end %>
