<ul id="charta">
  <li>Formulieren Sie bitte <%= cf_link_to "https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Charta_des_SELFHTML-Forums" do %><strong>höflich und wertschätzend</strong><% end %>.</li>
  <li>Im Wiki erhalten Sie <%= cf_link_to "https://wiki.selfhtml.org/wiki/SELFHTML:Forum/Bedienung" do %><strong><%= t("messages.help_with_formatting") %></strong><% end %>.</li>
  <li>Ihr Beitrag wird <strong>dauerhaft</strong> <%= cf_link_to "archiviert", "//forum.selfhtml.org/self/archive" %>.</li>
</ul>


