<%= form_tag new_thread_path do %>

<fieldset>
  <legend><%= t('threads.new.new_thread') %></legend>

  <label for="subject"><span>Subject:</span> <input type="text" name="thread[subject]" id="subject"></label>
  <label for="name"><span>Name:</span> <input type="text" name="thread[author][name]" id="name"></label>
  <label for="email"><span>Email:</span> <input type="text" name="thread[author][email]" id="email"></label>
  <label for="homepage"><span>Homepage:</span> <input type="text" name="thread[author][homepage]" id="homepage"></label>

  <label for="content"><span>Content:</span>
    <textarea name="thread[content]"></textarea>
  </label>

</fieldset>

<% end %>