<%= form_tag new_thread_path do %>

<fieldset>
  <legend><%= t('threads.new.new_thread') %></legend>

  <label for="subject">Subject: <input type="text" name="thread[subject]" id="subject"></label>
  <label for="name">Name: <input type="text" name="thread[author][name]" id="name"></label>
  <label for="email">Email: <input type="text" name="thread[author][email]" id="email"></label>
  <label for="homepage">Homepage: <input type="text" name="thread[author][homepage]" id="homepage"></label>

  <label for="content">Content:
    <textarea name="thread[content]"></textarea>
  </label>

</fieldset>

<% end %>