<%
content_for :title, t('admin.badges.edit', name: @badge.name)
content_for :h1, "<h1>".html_safe + t('admin.badges.edit', name: @badge.name) + "</h1>".html_safe
%>

<%= form_for @badge, url: admin_badge_path(@badge), html: {class: 'form-horizontal'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), admin_badges_path, class: 'cf-btn' %>
  </p>

<% end %>
