<div class="well sidebar-nav">
  <%= render 'admin/admin_subnav' %>

  <ul class="nav nav-list">
    <li class="nav-header"><%= t('views.users') %></li>
    <li<% if action_name == 'new' %> class="active"<% end %>><%= link_to t('admin.users.new_user'), new_admin_user_path %></li>
  </ul>
</div>
