<div class="well sidebar-nav">
  <%= render 'admin/admin_subnav' %>

  <ul class="nav nav-list">
    <li class="nav-header">Users</li>
    <li<% if action_name == 'new' %> class="active"<% end %>><%= link_to 'New User', new_admin_user_path %></li>
  </ul>
</div>
