<%
all_pages_count = (@all_threads_count.to_f / @limit.to_f).ceil
start_page = @page - 5
end_page = @page + 5

if start_page <= 0
  end_page += -start_page
  start_page = 1
end

end_page = all_pages_count if end_page > all_pages_count
%><div class="cf-pages">
  <ul>
    <li class="first<% if @page == 0 %> disabled<% end %>"><%= cf_link_to '«', cf_forum_path(current_forum), target: nil %></li>

    <% (start_page..end_page).each do |i| %>
    <li<% if i - 1 == @page %> class="active disabled"<% end %>><%= cf_link_to i, cf_forum_path(current_forum, p: i-1), target: nil %></li>
    <% end %>

    <li class="last<% if @page == all_pages_count - 1 %> disabled<% end %>"><%= cf_link_to '»', cf_forum_path(current_forum, p: all_pages_count - 1), target: nil %></li>
  </ul>
</div>
