<% def message_tree(thread, messages) %>
  <ol>
    <% messages.each do |message| %>
    <li>
      <%= message_header(thread, message) %>

      <% unless message.messages.blank? %>
      <%= message_tree(thread, message.messages) %>
      <% end %>
    </li>
    <% end %>
  </ol>
<% end %>

<article class="thread posting">
  <%= message_tree(thread, messages) %>
</article>
