<%
render 'cf_messages/message_header'
render 'cf_threads/thread_tree'

content_for :title, current_forum.blank? ? t('threads.threadlist_all') : t('threads.threadlist', name: current_forum.name)
%>

<div data-js="threadlist">
<% @threads.each do |thread| %>
<%=  render 'thread', thread: thread %>
<% end %>
</div>

<%= render 'pages' %>
