<%
content_for :title, current_forum.blank? ? t('threads.threadlist_all') : t('threads.threadlist', name: current_forum.name)
content_for :h1, current_forum.blank? ? t('threads.threadlist_all') : t('threads.threadlist', name: current_forum.name)
%>

<div class="root" data-js="threadlist">
  <% @threads.each do |thread| %>
    <%= render 'thread', thread: thread %>
  <% end %>
</div>

<%= render 'pages' %>
