<%
content_for :title, t('threads.threadlist_title')
content_for :h1, current_forum.blank? ? t('threads.threadlist_all') : t('threads.threadlist', name: current_forum.name)
content_for :body_id, 'threads-index'
content_for :body_classes, 'threads forum-' + (current_forum.try(:slug) || 'all')
%>

<% if uconf('page_messages') == 'yes' %>
  <%= render 'pages' %>
<% end %>

<% if @threads.blank? %>
  <p class="no-data"><%= t('threads.no_threads') %></p>
<% else %>
  <div class="root" data-js="threadlist">
    <% for thread in @threads %>
      <%= thread_html(thread) %>
    <% end %>
  </div>
<% end %>

<% if uconf('page_messages') == 'yes' %>
  <%= render 'pages' %>
<% end %>
