<% render 'cf_messages/message_header' %>
<article class="message">
  <h2><%= t "views.new_thread" %></h2>

<% if @preview %>
  <%= message_header(@thread, @message) %>

  <div class="posting-content well">
    <%= @message.to_html %>
  </div>
<% end %>

<%= render 'form' %>

</article>
