<%
content_for :title, t('threads.write_new_thread')
content_for :h1, t('threads.write_new_thread')
content_for :body_id, 'threads-new'
content_for :body_classes, 'threads new forum-' + (current_forum.try(:slug) || 'all') + (@preview ? ' preview' : '')
%>

<% if @preview %>
  <article class="thread-message preview">
    <%= message_header(@thread, @message, first: true, show_icons: false) %>

    <div class="posting-content">
      <%= @message.to_html(@app_controller) %>
    </div>
  </article>
<% end %>

<%= render 'form' %>
