<%
render 'cf_messages/message_header'
content_for :title, t('threads.write_new_thread')
%>
<article class="message">
  <h2><%= t "threads.new_thread" %></h2>

<% if @preview %>
  <div class="thread">
    <%= message_header(@thread, @message) %>

    <div class="posting-content well">
      <%= @message.to_html %>
    </div>
  </div>
<% end %>

<%= render 'form' %>

</article>
