<% def whole_thread(thread, messages) %>
  <ol class="answers">
    <% messages.each do |m| %>
    <li>
      <%= render :partial => 'cf_messages/message_header', :locals => {thread: thread, message: m, first: false} %>

      <div class="posting-content">
        <%= message_to_html(m.content) %>
      </div>

      <% unless m.messages.blank?
        whole_thread(thread, m.messages)
      end %>
    </li>
    <% end %>
  </ol>
<% end %>

<article class="thread">
  <%= render :partial => 'cf_messages/message_header', :locals => {thread: @thread, message: @thread.message, :first => true} %>

  <div class="posting-content">
    <%= message_to_html(@thread.message.content) %>
  </div>

  <% unless @thread.message.messages.blank? %>
    <% whole_thread(@thread, @thread.message.messages) %>
  <% end %>
</article>
