<%
render 'cf_messages/message_header'
render 'cf_threads/thread_tree'
%>

<% def whole_thread(thread, messages) %>
  <ol class="answers">
    <% messages.each do |m| %>
    <li>
      <%= message_header(thread, m) %>

      <div class="posting-content">
        <%= message_to_html(m.content) %>
      </div>

      <% unless m.messages.blank?
        whole_thread(thread, m.messages)
      end %>
    </li>
    <% end %>
  </ol>
<% end %>

<article class="thread">
  <%= message_header(@thread, @thread.message, true) %>

  <div class="posting-content">
    <%= message_to_html(@thread.message.content) %>
  </div>

  <% unless @thread.message.messages.blank? %>
    <% whole_thread(@thread, @thread.message.messages) %>
  <% end %>
</article>
