<%
content_for :title, t('admin.badge_groups.new_badge_group')
content_for :h1, t('admin.badge_groups.new_badge_group')
%>

<%= form_for @badge_group, url: admin_badge_groups_path, html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_badge_groups_path, class: 'cf-btn' %>
  </p>

<% end %>
