<%
content_for :title, t('plugins.invisible_threads.invisible_threads')
content_for :h1, t('plugins.invisible_threads.invisible_threads')
content_for(:body_id, "invisible-threads-list")
content_for(:body_classes, 'invisible-threads list')
%>

<div data-js="threadlist" class="root">
  <% if @threads.empty? %>
    <p><%= t('plugins.invisible_threads.no_threads') %></p>
  <% end %>
  <% @threads.each do |thread| %>
    <%= thread_html(thread) %>
  <% end %>
</div>

<%= paginate @threads %>
