<ul>
  <% if action_name == 'new' or action_name == 'vote_index' %> 
    <li><%= cf_link_to t('cites.do_read_cites'), cites_path %></li>
  <% end %>

  <li<% if action_name == 'new' or action_name == 'create' %> class="active"<% end %>><%= cf_link_to t('cites.do_new_cite'), new_cite_path %></li>

  <% unless current_user.blank? %>
    <li<% if action_name == 'vote_index' %> class="active"<% end %>><%= cf_link_to t('cites.do_vote'), cites_vote_path %></li>
  <% end %>

  <li><%= cf_link_to t('cites.search'), search_path + '?utf8=✓&sections[]=4&start_date[day]=1&start_date[month]=1&start_date[year]=1998'%></li>
  
</ul>