<%
content_for :title, t('cites.do_edit_cite', id: @cite.cite_id)
content_for :h1, t('cites.do_edit_cite', id: @cite.cite_id)
content_for :body_id, 'cites-edit'
content_for :body_classes, 'cites edit'
%>

<%= form_for(@cite, url: cite_path(@cite), html: {class: 'cf-form'}) do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: "cf-primary-btn" %>
    <%= cf_link_to t('global.cancel'), cite_path(@cite), class: 'cf-btn' %>
  </p>
<% end %>
