<%
content_for :title, t('cites.do_new_cite')
content_for :h1, t('cites.do_new_cite')
content_for :body_id, 'cites-new'
content_for :body_classes, 'cites new'
%>

<%= form_for(@cite, url: cites_path, html: {class: 'cf-form'}) do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: "cf-primary-btn" %>
    <%= cf_link_to t('global.cancel'), cites_path, class: 'cf-btn' %>
  </p>
<% end %>
