<%
content_for :title, t('cites.do_vote')
content_for :h1, t('cites.do_vote')
content_for :body_id, 'cites-votes-index'
content_for :body_classes, 'cites votes index'
%>

<% if @cites.blank? %>
  <p><%= t('cites.no_votes_active') %></p>
<% end %>

<% @cites.each do |c| %>
  <%= render 'cite', cite: c %>
<% end %>

