<%
content_for :title, t('admin.badges.new_badge')
content_for :h1, t('admin.badges.new_badge')
%>

<%= form_for @badge, url: admin_badges_path, html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_badges_path, class: 'cf-btn' %>
  </p>

<% end %>
