  <% if @synonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('tags.error_message_synonym') %></h2>

      <ul>
        <% @synonym.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="cf-cgroup">
  <%= f.label :synonym %>
  <div class="cntrls"><%= f.text_field :synonym %></div>
</div>

