<%
content_for :title, t('tags.synonyms.edit_tag_synonym', name: @tag.tag_name, synonym: @synonym.synonym)
content_for :h1, t('tags.synonyms.edit_tag_synonym', name: @tag.tag_name, synonym: @synonym.synonym)
%>

<%= form_for @synonym, url: tag_synonym_path(current_forum.slug, @tag, @synonym), html: {class: 'cf-form'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), tag_path(current_forum.slug, @tag), class: 'cf-btn' %>
</p>

<% end %>
