<%
content_for :title, t('tags.synonyms.new_tag_synonym_for_tag', tag: @tag.tag_name)
content_for :h1, t('tags.synonyms.new_tag_synonym_for_tag', tag: @tag.tag_name)
%>

<%= form_for @synonym , url: tag_synonyms_path(current_forum.slug, @tag), html: {class: 'cf-form'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), tag_path(current_forum.slug, @tag), class: 'cf-btn' %>
</p>

<% end %>
