<%= render 'message_header', thread: thread, message: thread.attribs[:first] %>
<% if not thread.attribs[:latest_message].message_id == thread.attribs[:first].message_id %>
  <span class="last-answer">
    <%= t('layout.last_message', time: relative_time(thread.attribs[:latest_message].created_at)) %>
    <%= render 'message_header', thread: thread, message: thread.attribs[:latest_message] %>
  </span>
<% else %>
  <span class="last-answer">
    <%= t('layout.last_thread', time: relative_time(thread.attribs[:latest_message].created_at)) %>
  </span>
<% end %>

