<%
content_for :title, t('global.redirect_thread_multiple')
content_for :h1, t('global.redirect_thread_multiple')
%>

<p>
  Für ihre Anfrage wurden mehrere mögliche Threads gefunden. Das
  SELFHTML-Forum durchlief vier verschiedene Foren-Softwares, unter
  anderem eine modifizierte Version des WWWBoards von Matt
  Wright. Beiträge aus dieser Zeit wurden erst nachträglich in ein
  neues Archiv-Format umgewandelt; doch da inzwischen eine neue
  Foren-Software eingesetzt wurde, wurden einige Thread-IDs doppelt
  vergeben. Sie scheinen einen dieser seltenen Fälle erwischt zu
  haben, wo der Fall eintritt. Folgende Threads kommen in Frage:
</p>

<div class="root" data-js="threadlist">
  <% @threads.each do |thread| %>
    <article class="thread threadlist<% if thread.sticky %> sticky<% end %><% unless thread.attribs['classes'].blank? %> <%= thread.attribs['classes'].join(' ') %><% end %>" id="t<%= thread.thread_id %>">
      <%= message_header(thread, thread.message, first: true, show_icons: false) %>
    </article>
  <% end %>
</div>
