<% @mail_groups_keys.each do |mg_key| %>
  <% has_unread = unread?(@mail_groups[mg_key]) %>
  <% is_only_mail = @mail_groups[mg_key].length <= 1 %>
  <tbody <% if has_unread %> class="open"<% end %>>
    <% @mail_groups[mg_key].each_with_index do |m, i| %>
      <tr class="<% if i == 0 %><% if not is_only_mail %>fold-marker<% end %><% elsif not has_unread %>folded<% end %>">
        <td<% if has_unread and not is_only_mail %> class="open"<% end %>><% if i == 0 and not is_only_mail %><% if has_unread %>▼<% else %>▶<% end %><% end %></td>
        <%= render 'mail_row', m: m %>
      </tr>
    <% end %>
  </tbody>
<% end %>
