<ul class="nav nav-tabs">
  <li class="active"><a href="#user-data" data-toggle="tab"><%= t('views.user_information') %></a></li>
  <li><a href="#personal_information" data-toggle="tab"><%= t('views.personal_information') %></a></li>
  <li><a href="#comfort" data-toggle="tab">Komfort</a></li>
  <li><a href="#adoption" data-toggle="tab">Personalisierung</a></li>
</ul>

<div class="tab-content">
  <%= render 'user_information', f: f %>
  <%= render 'settings', f: f %>
</div>