<%
content_for :title, t('users.user', name: @user.username)
content_for :h1, "<h1>".html_safe +
  (!@user.avatar.blank? ? image_tag(@user.avatar.url(:medium)) : "") +
  t('users.user', name: @user.username) + "</h1>".html_safe
%>

<%= form_for @user, url: user_path(@user), html: {:class => 'form-horizontal'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  </p>

<% end %>
