<%
content_for :title, t('users.all_scores_for_user', name: @user.username)
content_for :h1, t('users.all_scores_for_user', name: @user.username)
content_for(:body_id, "users-scores")
content_for(:body_classes, 'users scores ' + user_to_class_name(@user))
%>

<%= paginate @scored_msgs %>

<table class="score-table">
  <% for s in @scored_msgs %>
    <tr>
      <td class="score">
        <span class="<% if s.value < 0 %>score-down<% else %>score-up<% end %>"><%= s.value %></span>
      </td>
      <td>
        <article class="threadlist thread">
          <%= if s.vote then
            s.vote.message.thread.message = s.vote.message
            message_header(s.vote.message.thread, s.vote.message, show_votes: true)
          else
            s.message.thread.message = s.message
            message_header(s.message.thread, s.message, show_votes: true)
          end %>
        </article>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @scored_msgs %>
