<%
content_for :title, t('users.all_votes_for_user', name: @user.username)
content_for :h1, t('users.all_votes_for_user', name: @user.username)
content_for(:body_id, "users-votes")
content_for(:body_classes, 'users votes ' + user_to_class_name(@user))
%>

<%= paginate @votes %>

<table class="score-table">
  <% for vote in @votes %>
    <tr>
      <td class="score">
        <% if vote.score %>
          <span class="<% if vote.score.value < 0 %>score-down<% else %>score-up<% end %>"><%= vote.score.value %></span>
        <% end %>
      </td>
      <td>
        <article class="threadlist thread">
          <%= vote.message.thread.message = vote.message
          message_header(vote.message.thread, vote.message, show_votes: true) %>
        </article>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @votes %>
