  <% if @cf_forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('admin.forums.error_message', :errors_count => pluralize(@cf_forum.errors.count, t("views.error"), t('views.errors'))) %></h2>

      <ul>
        <% @cf_forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#core" data-toggle="tab">Forums-Daten</a></li>
  <li><a href="#settings" data-toggle="tab">Einstellungen</a></li>
</ul>

<div class="tab-content">
  <%= render 'form_core', f: f %>
  <%= render 'form_settings', f: f %>
</div>

