<div class="well sidebar-nav">
  <%= render 'admin/admin_subnav' %>

  <ul class="nav nav-list">
    <li class="nav-header"><%= t('global.forums') %></li>
    <li<% if action_name == 'new' %> class="active"<% end %>><%= link_to t('admin.forums.new_forum'), new_admin_forum_path %></li>
  </ul>
</div>
