<%
forum_opts = @forums.map { |f| [f.name, f.forum_id] }
%><h1>Merge forum <%= @cf_forum.name %></h1>

<%= form_for @cf_forum, url: admin_forums_do_merge_path(@cf_forum.forum_id), method: 'post', html: {:class => 'form-horizontal'} do |f| %>

Merge forum with:
<%= select_tag :merge_with, options_for_select(forum_opts, @merge_with) %>

<p class="form-actions">
  <%= f.submit 'Merge forum', :class => 'btn btn-primary' %>
</p>

<% end %>
