<%
content_for :title, t('admin.forums.new')
content_for :h1, "<h1>".html_safe + t('admin.forums.new') + "</h1>".html_safe
%>

<%= form_for @cf_forum, url: admin_forums_path, html: {class: 'form-horizontal'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= link_to t('global.cancel'), admin_forums_path, class: 'cf-btn' %>
  </p>

<% end %>
