<h1>New Forum</h1>

<%= form_for @cf_forum, url: admin_forums_path, html: {:class => 'form-horizontal'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <input type="submit" value="Save" class="btn btn-primary">
  <a href="<%= admin_forums_path %>" class="btn">Cancel</a>
</p>

<% end %>
