<%
content_for :title, t('admin.redirections.edit_redirection')
content_for :h1, t('admin.redirections.edit_redirection')
%>

<%= form_for(@redirection,
             url: admin_redirection_path(@redirection),
             html: {class: 'cf-form'}) do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_redirections_path, class: 'cf-btn' %>
  </p>

<% end %>
