<%
content_for :title, t('admin.twitter.twitter')
content_for :h1, t('admin.twitter.twitter')
content_for(:body_id, "twitter")
content_for(:body_classes, 'twitter')
%>

<% unless @twitter_authorization.blank? %>
  <p><%= t('admin.twitter.logged_in_as', name: twitter_client.user.screen_name).html_safe %></p>
<% end %>

<%= form_tag admin_twitter_path, method: :post, html: {class: 'cf-form'} do %>
  <%= submit_tag t('admin.twitter.start_authorization'), class: 'cf-primary-btn' %>
<% end %>
