<%
content_for :title, t('admin.search_sections.new_search_section')
content_for :h1, t('admin.search_sections.new_search_section')
%>

<%= form_for @search_section, url: admin_search_sections_path, html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_search_sections_path, class: 'cf-btn' %>
  </p>

<% end %>
