<%
@f_max = 4
@f_min = 1

def get_size(count)
  constant = Math.log(@max_count - (@min_count - 1)) /
    ((@f_max - @f_min) == 0 ? 1 : (@f_max - @f_min));

  cnt = count - (@min_count - 1)
  cnt = 0 if cnt < 0
  (Math.log(cnt) / constant + @f_min).round(5)
end

content_for :title, t("tags.tags_for_forum", forum: current_forum.name)
content_for :h1, t("tags.tags_for_forum", forum: current_forum.name)
content_for(:body_id, "tags-index")
content_for(:body_classes, 'tags index forum-' + (current_forum.try(:slug) || 'all'))
%>

<ul class="cf-tags-list">
  <% @tags.each do |t| %>
    <li class="cf-tag<% unless t.suggest %> cf-tag-hidden<% end %>" style="font-size: <%= get_size(t.num_messages).to_s %>em"<% unless t.suggest %> title="<%= t('tags.not_used_for_suggestions') %>"<% end %>><%= cf_link_to t.tag_name, tag_path(current_forum.slug, t) %></li>
  <% end %>
</ul>
