<%
content_for :title, t('tags.new_tag')
content_for :h1, t('tags.new_tag')
content_for(:body_id, "tags-new")
content_for(:body_classes, 'tags new forum-' + (current_forum.try(:slug) || 'all'))
%>

<%= form_for @tag , url: tags_path(current_forum.slug), html: {class: 'cf-form'} do |f| %>

<%= render 'form', f: f %>

<p class="form-actions">
  <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
  <%= cf_link_to t('global.cancel'), tags_path(current_forum.slug), class: 'cf-btn' %>
</p>

<% end %>
