<% def message_tree(thread, messages) %>
  <ol>
    <% messages.each do |message| %>
    <li>
      <%= render :partial => 'messages/message_header', :locals => {thread: thread, message: message, first: false} %>

      <% unless message.messages.blank?
        message_tree(thread, message.messages)
      end %>
    </li>
    <% end %>
  </ol>
<% end %>

<% message_tree(thread, thread.message.messages) %>
