<%
content_for :title, t('admin.forums.edit', name: @forum.name)
content_for :h1, t('admin.forums.edit', name: @forum.name)
%>

<%= form_for @forum, url: admin_forum_path(@forum.forum_id), html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_forums_path, class: 'cf-btn' %>
  </p>

<% end %>
