<%
content_for :title, t('admin.forums.new')
content_for :h1, t('admin.forums.new')
%>

<%= form_for @forum, url: admin_forums_path, html: {class: 'cf-form'} do |f| %>

  <%= render 'form', f: f %>

  <p class="form-actions">
    <%= f.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_forums_path, class: 'cf-btn' %>
  </p>

<% end %>
