<%
content_for :title, t("admin.groups.new_group")
content_for :h1, t("admin.groups.new_group")
%>

<%= form_for @group, url: admin_groups_path, html: {class: 'cf-form'} do |t| %>

  <%= render 'form', t: t %>

  <p class="form-actions">
    <%= t.submit t('global.save'), class: 'cf-primary-btn' %>
    <%= cf_link_to t('global.cancel'), admin_groups_path, class: 'cf-btn' %>
  </p>

<% end %>
