<% do_parent ||= false %>
  <%= message_header(@thread, m, first: first, do_parent: do_parent) %>

  <div class="posting-content well">
    <%= message_to_html(m.content) %>
  </div>

  <p><%= link_to t("views.new_answer"), new_cf_message_path(@thread, m) %>

    <% if current_user %>
    <%= form_tag vote_cf_message_path(@thread, m), :method => :post do %>
    <button name="type" value="up"><i class="icon icon-arrow-up vote vote-up<% if @votes and @votes[m.message_id] and @votes[m.message_id].vtype == CfVote::UPVOTE %> active<% end %>"> </i></button>
    <button name="type" value="down"><i class="icon icon-arrow-down vote vote-up<% if @votes and @votes[m.message_id] and @votes[m.message_id].vtype == CfVote::DOWNVOTE %> active<% end %>"> </i></button>
    <% end
    end %>
  </p>
