<%
  def message_header(thread, message, first = false)
    classes = []
    classes << 'visited' if message.attribs['visited']
    classes << 'closed' if thread.attribs['open_state'] == 'closed' and first

    html = "<header"
    html << ' class="' + classes.join(" ") + '"' unless classes.blank?
    html << ">\n"

    if first and current_user
      html << '  <a class="icon icon-'
      if thread.attribs['open_state'] == 'closed'
        html << 'folder-close" href="' + cf_forum_path(current_forum, :open => thread.thread_id)
      else
        html << 'folder-open" href="' + cf_forum_path(current_forum, :close => thread.thread_id)
      end
      html << '"> </a>'
    end

    if current_forum.blank?
      html << "  " + link_to(thread.forum.short_name, cf_forum_path(thread.forum), :class => 'label label-info') + "\n"
    end

    if first
      html << "  <h2>" + link_to(message.subject, cf_message_path(thread, message)) + "</h2>"
    else
      html << "  <h3>" + link_to(message.subject, cf_message_path(thread, message)) + "</h3>"
    end

    html << %q{
  <details open>
    <summary>
      } + t("messages.by") + %q{
      } + (message.user_id ? link_to(message.author, user_path(message.owner)) : encode_entities(message.author)) + %q{,
      <time datetime="} + message.created_at.to_s + '">' + encode_entities(l(message.created_at))

    if not current_user.blank? and (current_user.admin? or current_user.moderate?(current_forum))
      if message.deleted?
        html << " " + link_to('', restore_cf_message_path(thread, message), :method => :post, :class => 'icon icon-check')
      else
        html << " " + link_to('', cf_message_path(thread, message), data: {confirm: t('views.are_you_sure')}, :method => :delete, :class => 'icon icon-trash')
      end
    end

    html << %q{</time>
    </summary>
  </details>
</header>}

    html.html_safe
  end
%>