<%
  def message_header(thread, message, opts = {})
    opts = {first: false, prev_deleted: false, show_icons: false}.merge(opts)

    classes = []
    classes += message.attribs['classes']
    classes << 'first' if opts[:first]

    html = "<header"
    html << ' class="' + classes.join(" ") + '"' unless classes.blank?
    html << ">\n"

    if opts[:first] and current_user and opts[:show_icons]
      html << '  <a class="icon icon-'
      if thread.attribs['open_state'] == 'closed'
        html << 'folder-close" href="' + cf_forum_path(current_forum || 'all', :open => thread.thread_id)
      else
        html << 'folder-open" href="' + cf_forum_path(current_forum || 'all', :close => thread.thread_id)
      end
      html << '"> </a>'
    end

    if not current_user.blank? and (current_user.admin? or current_user.moderate?(current_forum)) and opts[:show_icons]
      if opts[:first]
        html << " " + link_to('', move_cf_thread_path(thread), :class => 'icon icon-move')
      end

      if not opts[:prev_deleted] and opts[:show_icons]
        if message.deleted?
          html << " " + link_to('', restore_cf_message_path(thread, message), :method => :post, :class => 'icon icon-check')
        else
          html << " " + link_to('', cf_message_path(thread, message), data: {confirm: t('views.are_you_sure')}, :method => :delete, :class => 'icon icon-trash')
        end
      end
    end

    if current_forum.blank?
      html << "  " + link_to(thread.forum.short_name, cf_forum_path(thread.forum), :class => 'label label-info') + "\n"
    end

    if opts[:first]
      if thread.attribs[:msgs]
        html << " <span class=\"msg-num\">(<span class=\"all\">" +
          thread.attribs[:msgs][:all].to_s +
          "</span>/<span class\"unread\">" +
          thread.attribs[:msgs][:unread].to_s +
          "</span>)</span>"
      end

      html << "  <h2>" + link_to(message.subject, cf_message_path(thread, message)) + "</h2>"
    else
      if thread.thread_id and message.message_id
        html << "  <h3>" + link_to(message.subject, cf_message_path(thread, message)) + "</h3>"
      else
        html << "  <h3>" + message.subject + "</h3>"
      end
    end

    html << %q{
  <details open>
    <summary>
      } + t("messages.by") + %q{
      }

    if message.user_id
      html << "<span class=\"registered-user\">" + link_to('<em>Benutzer-Profil</em>'.html_safe, user_path(message.owner), :class => 'icon icon-share') + " "
    end
    html << encode_entities(message.author)
    html << '</span>' if message.user_id

    html << %q{,
      <time datetime="} + message.created_at.to_s + '">' + encode_entities(l(message.created_at)) + %q{</time>
    </summary>}

    if opts[:first] and not thread.tags.blank?
      html << %q{

    in <ul class="tags">}

      # tag_links = []
      thread.tags.each do |t|
        html << "<li>" + link_to(t.tag_name, tag_path(thread.forum.slug, t)) + "</li>"
      end

      # html << tag_links.join(", ")

      html << "</ul>"
    end

    html << %q{
  </details>
</header>}

    html.html_safe
  end
%>
