<article class="message">
  <%= render :partial => 'message_header', :locals => {thread: @thread, message: @message, :first => true} %>

  <div class="posting-content">
    <%= message_to_html(@message.content) %>
  </div>

  <p><%= link_to t(".new_message"), new_cf_message_path(@thread, @message) %></p>

  <%= render :partial => 'cf_threads/thread_tree', :locals => {thread: @thread, messages: [@thread.message] } %>
</article>