<%
render 'cf_messages/message_header'
render 'cf_threads/thread_tree'
%>
<article class="message">
  <%= message_header(@thread, @message, first: true) %>

  <div class="posting-content well">
    <%= message_to_html(@message.content) %>
  </div>

  <p><%= link_to t("views.new_message"), new_cf_message_path(@thread, @message) %></p>

  <article class="thread posting">
    <%= message_tree(@thread, [@thread.message]) %>
  </article>
</article>
