<%
content_for :title, @thread.message.subject + " " +
  I18n.t('messages.by') + " " + @thread.message.author + ", " +
  I18n.l(@thread.message.created_at, format: date_format('date_format_post'))
%>

<article class="thread posting tree">
  <%= message_header(@thread, @thread.message, first: true, show_icons: true, id: false) %>

  <% if not @thread.message.messages.blank? %>
    <%= message_tree(@thread, @thread.message.messages, show_icons: true, id: false) %>
  <% end %>
</article>

<% def whole_thread(thread, messages) %>
  <ol class="answers">
    <% messages.each do |m| %>
    <li>
      <%= render 'message', m: m, first: false %>

      <% unless m.messages.blank?
        whole_thread(thread, m.messages)
      end %>
    </li>
    <% end %>
  </ol>
<% end %>

<article class="thread posting nested">
  <%= render 'message', m: @thread.message, first: true %>

  <% unless @thread.message.messages.blank? %>
    <% whole_thread(@thread, @thread.message.messages) %>
  <% end %>
</article>
