<article class="message">
  <%= render :partial => 'message_header', :locals => {thread: @thread, message: @message, :first => true} %>

  <div class="content">
    <%= @message.content %>
  </div>

  <p><%= link_to t(".new_message"), new_cf_message_path(@thread, @message) %></p>

  <% unless @message.messages.blank? %>
  <%= render :partial => 'cf_threads/thread_tree', :locals => {thread: @thread, messages: @message.messages } %>
  <% end %>

</article>