<%
render 'cf_messages/message_header'
render 'cf_threads/thread_tree'
%>

<% def whole_thread(thread, messages) %>
  <ol class="answers">
    <% messages.each do |m| %>
    <li>
      <%= render 'message', m: m, first: false %>

      <% unless m.messages.blank?
        whole_thread(thread, m.messages)
      end %>
    </li>
    <% end %>
  </ol>
<% end %>

<article class="thread">
  <%= render 'message', m: @thread.message, first: true %>

  <% unless @thread.message.messages.blank? %>
    <% whole_thread(@thread, @thread.message.messages) %>
  <% end %>
</article>
