/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Doppio+One|Press+Start+2P|Actor);

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f0f0e8;
    color: #333;
    font-family: "Doppio One", Helvetica, Tahoma, Verdana, sans-serif;
}

/* Header */

body > header {
    background: black;
    color: white;
    padding: 20px 20px 10px 20px;
}

body > header h1 {
    font-family: , serif;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body > header .welcome-message {
    float: right;
    margin: 0;
}

body > header a {
    color: white;
    text-decoration: none;
}

body > header > nav ul {
    margin: 0;
    padding: 10px 0 0 0;
}

body > header > nav li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    border: 1px solid #f0f0e8;
    padding: 0 5px;
}

/* Main */

#main {
    padding: 20px;
}

h2 {
    font-family: 'Actor', sans-serif;
    text-transform: uppercase;
}

/* Form */

label {
    display: block;
}

label:after {
    content: ":";
}

input[type=text], input[type=email], textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
}

.field_with_errors {
    color: red;
}

/* eof */