/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require_self
 *= require_tree .
 */


html {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 1em;
}
body {
  margin: 0;
  padding: 0;
  font-family: Calibri, 'PT Sans', sans-serif;
  font-size: 1em;
  color: #333333;
  background: white;
}
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal; 
}
h2 {
  font-size: 1.25em;
  border-top: 2px solid #c4d4da;
  padding: .7em 0 0;
  margin: 1em 0em;
}
h3 { 
  font-size: 1em;
}
body > p { 
  margin: 1em 2em; 
}
code, kbd {
  font-family: Consolas, Monaco, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Andale Mono', 'Droid Sans Mono', 'Lucida Console', monospace;
  color: #0000C0;
}
label { 
  font-weight: bold; 

  .normal {
    font-weight: normal; 
  }
}
a, a:hover, a:focus, a:active {
  font-weight: normal;
  text-decoration: none;
  border: 0 none;

  img {
    border: 0 none;
  }
}
a:link, a:visited { 
  color: #3481cd;
}
a:hover, a:focus , a:active,
button:hover, button:focus, button:active {
  color: #990909;
}
input {
  margin: .5em .5em .2em 0;
}

.hidden, .btn.hidden, .cf-btn.hidden, .cf-primary-btn.hidden {
  display:none;
}


.block {
  display: block;
}

.avatar {
  margin: 0 .2em;
}

.pointer {
  cursor:pointer;
}

a.forgotten-password-link {
  font-style:italic;
  font-size:.9em;
}

#tree-functions {
    border-left: 5px solid #8db243;
    list-style-type: none;
    margin: 0 0 2em 2em;
    padding-left: 1em;
    position: relative;
    z-index: 10;
}

#charta {
  border-left: 5px solid #c32e04;
  list-style-type: none;
  margin: 0;
  padding-left: 1em;

  a {
    &:visited {
      color: #3481cd;
    }

    &:hover, &:focus, &:active {
      color: #990909;
    }
  }
}

.has-forum-select {
  padding:2px;
  padding-left:0.6em;

  .forum-select {
    width:100%;
    border:0;
    background-color:transparent;
    margin:0;
    padding:0;
  }
}

.has-forum-select:hover { background-color: #fff; }
#forum-list { line-height: 2.1; }

aside {
  margin-bottom: 1.5em;
}


.flex-container {
  display:flex;
  flex-flow:row wrap;

  .flex-item {
    margin-left:.5em;
    margin-right:.5em;
  }

  header.flex-item {
    order: -1;
    flex:1 100%;
    margin:0;
  }
  ul.personallinks.flex-item {
    flex:1 100%;
    order:1;
  }

  div.flex-item.logo {
    order: 0;
    flex:1 100%;
  }
  main.flex-item {
    order:4;
    flex:1 100%;
  }

  div.flex-item.nav {
    order:2;
    flex:1 100%;
  }

  aside.flex-item {
    flex:1 100%;
    order:4;
    display:block;
  }
}

@media only screen and (min-width: 35em) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;

    .flex-item {
      margin-left:2em;
      margin-right:1em;
    }

    header.flex-item {
      order: -1;
      flex: 1 100%;
    }

    ul.personallinks.flex-item {
      order:0;
    }

    div.flex-item.logo {
      flex:0 160px;
      order:1;
      box-sizing:border-box;
    }

    aside.flex-item {
      order:2;
    }

    main.flex-item {
      order: 3;
      flex: 1 100%;
      align-self: auto;
    }

    div.flex-item.nav {
      flex:1 calc(29em - 160px);
      margin-top:.5em;
      margin-left:0;
      box-sizing:border-box;
    }
  }

  /*
   * Legacy Firefox implementation treats all flex containers
   * as inline-block elements.
   */

  @-moz-document url-prefix() {
    .flex-container, .flex-container-inner {
      width: 100%;
      -moz-box-sizing: border-box;
    }
  }

  a, a:hover,
  a:focus,
  a:active {
    transition: all .2s ease-in-out 0s;
  }
}


/* eof */
