code, kbd {
  font-family: Consolas, 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Andale Mono', 'Droid Sans Mono', 'Lucida Console', monospace;
  background-color:rgba(0,0,0,0.04);
  border:1px solid rgba(0,0,0,0.05);
  color: #0000C0;
  border-radius: 0 .4em .4em;
  padding: 0 .3em;
}

/* Code-Blöcke */
code.block {
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  margin-top: .5em;
  padding: .3em .4em .3em .5em;
  line-height:1.2em;
  border-left:.3em solid #8a9da8;
  border-radius:0 .4em .4em 0;
  background-color:white;
}

blockquote {
  code.block {
    border-left: 1px solid rgba(0,0,0,.05);
    background-color: rgba(0,0,0,.02);
  }
  code.good {
    background-color:#DFF0D8;
  }
  code.bad {
    background-color:#F2DEDE;
  }
}

code.good {
  color:#3C763D;
  background-color:#DFF0D8;
}

code.bad {
  color:#A94442;
  background-color:#F2DEDE;
}
/* end Code-Blöcke */
