/* -*- coding: utf-8 -*- */

.cf-default-table {
  border-collapse: collapse;
  width:100%;

  th, td {
    padding:0.4em 0.5em 0.4em 0.5em;
    border-bottom:1px solid #d5d5d5;
  }

  tr {
    margin:0;
    padding:0;

    &:nth-child(2n) {
      background-color: #f1f3f4;
    }
    &:hover {
      background-color: #d5d5d5;
    }
  }

  thead tr:hover {
    background-color: inherit;
  }

  th { text-align:left; }
  thead th { color: #5D7380; }
  tfoot th { border-bottom:0; }

  tr.no-data {
    td {
      text-align:center;
      padding-top:2em;
      padding-bottom:2em;
      background-color:#f1f3f4;
    }
  }

  td.numeric, th.numeric { text-align:right; }
}

.cf-default-table.grouped {
  tbody:nth-child(2n) {
    background-color: #f1f3f4;
  }
  tr:nth-child(2n) {
    background-color: transparent;
  }
  tbody tr:hover {
    background-color: #d5d5d5;
  }
}

.cf-default-table.responsive {
  &, tr, th, td { display:block; }
  thead { display:none; }
  tbody, tfoot { display:block; }
  tr { margin-bottom:2em; }

  th .block, td .block { display:inline; }

  tfoot th, tfoot td { border-bottom:1px solid #d5d5d5; }

  th, td { text-align:left; }
  th:before,
  td:before {
    font-weight:bold;
    content: attr(data-label) ": ";
  }

  td:last-of-type { border:0; }

  tr:hover { background-color:#fff; }
  tr:nth-child(2):hover { background-color: #f1f3f4; }
}

@media only screen and (min-width:35em) {
  .cf-default-table.responsive {
    display:table;

    tr {
      display:table-row;
      margin-bottom:0;
    }

    th, td { display:table-cell; }
    th .block, td .block { display:block; }

    th:before,
    td:before { display:none; content:""; }

    thead { display: table-header-group; }
    tbody { display: table-row-group; }
    tfoot { display: table-footer-group; }

    td:last-of-type { border-bottom:1px solid #d5d5d5; }

    tfoot th, tfoot td { border-bottom:0; }

    tr:hover, tr:nth-child(2):hover { background-color: #d5d5d5; }
  }
}

/* eof */
