/* for fluid bootstrap */

@import "twitter/bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.icon {
  cursor:pointer;
  * { display:none; }
}

form.form-inline { display:inline; }

.cf-container-fluid { @extend .container-fluid; }
.cf-row-fluid { @extend .row-fluid; }


.top-bar {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;

  .inner-top-bar { @extend .navbar-inner; }
}

.cf-default-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

.cf-table-condensed-striped-hover {
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  @extend .table-hover;
}

.thread-forum-plate {
  @extend .label;
  @extend .label-info;
}

.icon-thread {
  @extend .icon;

  &.open { @extend .icon-folder-open; }
  &.close { @extend .icon-folder-close; }
  &.move { @extend .icon-move; }
  &.sticky { @extend .icon-pushpin; }
  &.archive { @extend .icon-cloud; }
  &.no-archive { @extend .icon-signout; }
}

.icon-message {
  @extend .icon;

  &.restore { @extend .icon-check; }
  &.delete { @extend .icon-trash; }
  &.answer { @extend .icon-unlock; }
  &.no-answer { @extend .icon-lock; }
  &.original-poster { @extend .icon-exclamation-sign; }
}

.cf-cgroup {
  @extend .control-group;

  & > label { @extend .control-label; }
  .cntrls { @extend .controls; }
}

.cf-btn { @extend .btn; }
.cf-primary-btn {
  @extend .btn;
  @extend .btn-primary;
}

.icon-registered-user {
  @extend .icon;
  @extend .icon-share;
}

.icon-vote-up {
  @extend .icon;
  @extend .icon-thumbs-up;
}

.icon-vote-down {
  @extend .icon;
  @extend .icon-thumbs-down;
}

.icon-delete-user {
  @extend .icon;
  @extend .icon-trash;
}

.icon-edit-user {
  @extend .icon;
  @extend .icon-edit;
}

.icon-edit-forum {
  @extend .icon;
  @extend .icon-edit;
}

.icon-delete-forum {
  @extend .icon;
  @extend .icon-trash;
}

.icon-merge-forum {
  @extend .icon;
  @extend .icon-share;
}

.icon-delete-group {
  @extend .icon;
  @extend .icon-trash;
}

.icon-edit-group {
  @extend .icon;
  @extend .icon-edit;
}

.icon-remove-permission {
  @extend .icon;
  @extend .icon-trash;
}

.icon-delete-mail {
  @extend .icon;
  @extend .icon-trash;
}

.icon-answer-mail {
  @extend .icon;
  @extend .icon-share;
}

.icon-answer-mail-wo-quote {
  @extend .icon;
  @extend .icon-share;
}

.icon-delete-nofication {
  @extend .icon;
  @extend .icon-trash;
}


.status-unread {
  @extend .badge;
  @extend .badge-info;
}

.status-read {
  @extend .badge;
}



.posting-content { @extend .well; }
.cf-error {
  @extend .alert;
  @extend .alert-error;
}
.cf-success {
  @extend .alert;
  @extend .alert-success;
}

.cf-pages {
  @extend .pagination;
  @extend .pagination-centered;
}

.cf-sidebar-box {
  @extend .well;

  .cf-sidebar {
    @extend .nav;
    @extend .nav-list;

    .cf-sidebar-header {
      @extend .nav-header;
    }
  }
}

.cf-search-query {
  @extend .input-medium;
  @extend .search-query;
}


.cf-tabs {
  @extend .nav;
  @extend .nav-tabs;
}
.cf-tab-content { @extend .tab-content; }
.cf-tab-pane { @extend .tab-pane; }

.cf-box {
  @extend .well;
}


.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  float: left;
  margin-left: 20px;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .cf-span#{$i} { @extend .span#{$i}; }
}

/* eof */