/* for fluid bootstrap */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.cf-max-width-fluid {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  cursor:pointer;
  * { display:none; }
}

form.form-inline { display:inline; }

.cf-container-fluid { @extend .container; }
.cf-row-fluid { @extend .row; }

.users-modal {
  @extend .modal;
  @extend .fade;

  .user_search {
    @extend .form-control;
  }
}

.users-selector ul {
  list-style-type:none;
}

.cf-modal-dialog {
  @extend .modal-dialog;
}
.cf-modal-content {
  @extend .modal-content;
}
.cf-modal-header {
  @extend .modal-header;
}
.cf-modal-body {
  @extend .modal-body;
}
.cf-modal-footer {
  @extend .modal-footer;
}


.top-bar {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;

  .inner-top-bar { @extend .container; }
  .header-bar { @extend .navbar-header; }
  .cf-toggler { @extend .navbar-toggle; }
  .cf-icon-bar { @extend .icon-bar; }
  .cf-brand { @extend .navbar-brand; }
  .cf-collapse { @extend .collapse; }

  .cf-nav {
    @extend .nav;
    @extend .navbar-nav;
  }

  .cf-right-nav {
    @extend .cf-nav;
    @extend .navbar-right;
  }
}

.cf-default-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

.cf-table-condensed-striped-hover {
  @extend .table;
  @extend .table-condensed;
  @extend .table-striped;
  @extend .table-hover;
}

.thread-forum-plate {
  @extend .label;
  @extend .label-info;
}

.icon-thread {
  @extend .icon;

  &.open { @extend .icon-folder-open; }
  &.closed { @extend .icon-folder-close; }
  &.move { @extend .icon-move; }
  &.sticky { @extend .icon-pushpin; }
  &.archive { @extend .icon-cloud; }
  &.no-archive { @extend .icon-signout; }
  &.mark-invisible { @extend .icon-remove; }
  &.mark-interesting { @extend .icon-star; }
  &.mark-boring { @extend .icon-star-empty; }
}

.icon-message {
  @extend .icon;

  &.restore { @extend .icon-check; }
  &.delete { @extend .icon-trash; }
  &.answer { @extend .icon-unlock; }
  &.no-answer { @extend .icon-lock; }
  &.original-poster { @extend .icon-exclamation-sign; }
  &.unread { @extend .icon-ban-circle; }
}

.cf-cgroup {
  @extend .form-group;

  & > label {
    @extend .control-label;
    @extend .col-lg-2;
  }
  .cntrls {
    @extend .col-lg-3;
    input[type=text], input[type=email], input[type=password], input[type=search], textarea, select {
      @extend .form-control;
    }
  }
}

.cf-cgroup.cf-textarea-only .cntrls {
  @extend .col-lg-5;
  textarea {
    height:30em;
  }
}

.cf-radio-only {
  @extend .radio;

  input[type=text], input[type=url] {
    @extend .form-control;
  }
}


.cf-btn {
  @extend .btn;
  @extend .btn-default;
}
.cf-primary-btn {
  @extend .btn;
  @extend .btn-primary;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.icon-registered-user {
  @extend .icon;
  @extend .icon-share;
}

.icon-vote-up {
  @extend .icon;
  @extend .icon-thumbs-up;
}

.icon-vote-down {
  @extend .icon;
  @extend .icon-thumbs-down;
}

.icon-delete-user {
  @extend .icon;
  @extend .icon-trash;
}

.icon-edit-user {
  @extend .icon;
  @extend .icon-edit;
}

.icon-edit-forum {
  @extend .icon;
  @extend .icon-edit;
}

.icon-delete-forum {
  @extend .icon;
  @extend .icon-trash;
}

.icon-merge-forum {
  @extend .icon;
  @extend .icon-share;
}

.icon-delete-group {
  @extend .icon;
  @extend .icon-trash;
}

.icon-edit-group {
  @extend .icon;
  @extend .icon-edit;
}

.icon-remove-permission {
  @extend .icon;
  @extend .icon-trash;
}

.icon-delete-mail {
  @extend .icon;
  @extend .icon-trash;
}

.icon-answer-mail {
  @extend .icon;
  @extend .icon-share;
}

.icon-answer-mail-wo-quote {
  @extend .icon;
  @extend .icon-share;
}

.icon-delete-nofication {
  @extend .icon;
  @extend .icon-trash;
}


.status-unread {
  @extend .badge;
  background-color:#3a87ad;
}

.status-read {
  @extend .badge;
}



.posting-content { @extend .well; }
.cf-error {
  @extend .alert;
  @extend .alert-danger;
}
.cf-success {
  @extend .alert;
  @extend .alert-success;
}

.cf-pages {
  ul { @extend .pagination; }
  @extend .text-center;
}

.cf-sidebar-box {
  @extend .well;

  .cf-sidebar {
    //@extend .nav;
    //@extend .nav-list;
    @extend .list-group;
    a { @extend .list-group-item; }
    li {
      list-style-type:none;
      margin:0;
      padding:0;
    }
    li.active a {
      @extend .active;
    }

    .cf-sidebar-header {
      @extend .list-group-item;

      h4 { @extend .list-group-item-heading; }
    }
  }
}

.form-search {
  @extend .form-inline;
  @extend .container;
}

.cf-search-query {
  /*@extend .input-medium;
  @extend .search-query;*/
  @extend .form-control;
  max-width:300px;
}


.cf-tabs {
  @extend .nav;
  @extend .nav-tabs;
}
.cf-tab-content { @extend .tab-content; }
.cf-tab-pane { @extend .tab-pane; }

.cf-box {
  @extend .well;
}


@for $i from 1 through 12 {
  .cf-span#{$i} { @extend .col-lg-#{$i}; }
}

.cf-right-nav .username.connected { color: #3A3; }

blockquote {
  font-size: inherit;
}


/* eof */