/* -*- coding: utf-8 -*- */

footer {
  margin:1em;
  border-top: 2px solid #c4d4da;
  padding-top: .5em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .termitel-sponsor {
    margin-top:0.5em;
    margin-bottom:1em;
    font-size:0.8em;
  }

  a:link, a:visited {
    color: #3481cd;

    &:hover, &:active, &:focus {
      color: #990909;
    }
  }
}

@media only screen and (min-width : 35em) {
  footer {
    margin: 2em 1em 2em 2em;

    li {
      display: inline;

      &:not(:first-child) {
        border-left: 2px solid #c4d4da;
        padding-left: .2em;
      }
    }

    .termitel-sponsor {
      margin-top:-1.5em;
      float:right;
    }

  }
}

/* eof */