/* -*- coding: utf-8 -*- */

::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

.image-upload {
  cursor:pointer;
  text-align:center;
  vertical-align:middle;
  width:100%;
  min-height:3em;
  background-color:#f5f5f5;
  button {
    border:0;
    background:inherit;
    margin:0;
    padding:0;
  }

  button:focus {
    color: #333;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

.image-upload.loading {
  span { display:none; }
  background:asset-data-url('ajax-loader.svg') center center no-repeat;
  background-size:contain;
}

.form-search {
  display:block;
  margin-bottom:1em;

  input, textarea {
    padding: 6px 12px;
    line-height: 1.42857em;
    color: #333;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
}

.btn {
    display: inline-block;
    min-width: 2em;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover, .btn:focus, .btn.focus, a.btn:hover, a.btn:focus, a.btn.focus {
  color: #333;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus,
.btn.focus:active, .btn.active.focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.cf-btn, .message-links .cf-btn, .button_to .cf-btn {
  @extend .btn;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.cf-btn:hover, .cf-btn:focus, .cf-btn.focus,
.cf-btn:active, .cf-btn.active,
a.cf-btn:hover, a.cf-btn:focus, a.cf-btn:active,
a.cf-btn:link:hover, a.cf-btn:link:focus, a.cf-btn:link:active,
.button_to .cf-btn:hover, .button_to .cf-btn:focus, .button_to .cf-btn.focus,
.button_to .cf-btn:active, .button_to .cf-btn.active,
.button_to a.cf-btn:hover, .button_to a.cf-btn:focus, .button_to a.cf-btn:active,
.button_to a.cf-btn:link:hover, .button_to a.cf-btn:link:focus, .button_to a.cf-btn:link:active {
    color: #333;
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

a.cf-btn:link, a.cf-btn:visited {
  color: #333;
}

.cf-primary-btn, .button_to .cf-primary-btn {
  @extend .btn;
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

.cf-primary-btn.is-confirmed { transition: all 0.5s ease; }

a.cf-primary-btn:link, a.cf-primary-btn:visited {
  color: #FFF;
}

.cf-primary-btn:hover, .cf-primary-btn:focus, .cf-primary-btn.focus,
.cf-primary-btn:active, .cf-primary-btn.active,
a.cf-primary-btn:hover, a.cf-primary-btn:focus, a.cf-primary-btn:active,
a.cf-primary-btn:link:hover, a.cf-primary-btn:link:focus, a.cf-primary-btn:link:active,
.button_to .cf-primary-btn:hover, .button_to .cf-primary-btn:focus, .button_to .cf-primary-btn.focus,
.button_to .cf-primary-btn:active, .button_to .cf-primary-btn.active,
.button_to a.cf-primary-btn:hover, .button_to a.cf-primary-btn:focus, .button_to a.cf-primary-btn:active,
.button_to a.cf-primary-btn:link:hover, .button_to a.cf-primary-btn:link:focus, .button_to a.cf-primary-btn:link:active
{
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font: inherit;
  color: inherit;
}

fieldset {
  min-width:0;
  padding:0;
  margin:0;
  border:0;
}

legend {
  display:block;
  width:100%;
  font-weight:bold;
  font-size:1.1em;
  margin-bottom:1em;
  margin-top:1em;
  border-bottom: 2px solid #C4D4DA;
}

.users-modal {
  ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
  }
}



/* markdown editor adjustments */

.cf-cgroup.cf-textarea-only {
  width: 100%;
  padding-left:0;

  .md-editor {
    max-width:100%;

    .btn-group {
      display:inline;
    }

    textarea.big.md-input {
      width:99%;
      margin:auto;
      margin-bottom:.5em;

      padding-left:0;
      padding-right:0;

      border-radius:4px 0 4px 4px;
    }

    .image-upload a {
      color: #3481cd;

      &:hover {
        color: #990909;
      }
    }
  }
}

// safari fix: search inputs in safari can't have a padding
input[type="search"] { -webkit-appearance: textfield; }

.button_to {
  display:inline;
  button {
    border:0;
    background:transparent;
    padding:0;
    color: #3481cd;
  }

  button:hover {
    color:#990909;
  }

  button,
  button:hover {
    transition: all .2s ease-in-out 0s;
  }
}

.cf-btn.spinning {
  padding-left:2.5em;
  background: asset-url("ajax-loader.svg") no-repeat left scroll;
  background-size: contain;
}


.form-inline {
  display:inline;
}

/* new form styles */

.cf-form {
  .cf-cgroup {
    vertical-align: middle;
    margin-bottom:1em;

    label {
      max-width:55em;
      display:block;
      vertical-align: middle;
      margin-bottom:0.25em;
    }

    input, select, textarea {
      width:100%;
      max-width:55em;
      box-sizing: border-box;
      display: block;
      padding: .5em 1em;
      color: #333;
      background-color: #FFF;
      background-image: none;
      border: 1px solid #CCC;
      border-radius: 4px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      font-size:16px;
    }

    input[type=radio], input[type=checkbox] {
      width:auto;
      display:inline;
      margin-right:0.5em;
    }

    input:focus, select:focus, textarea:focus {
      border-color: #66AFE9;
      outline: 0px none;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    }

    input[disabled], select[disabled], textarea[disabled] {
      background-color: #eee;
      opacity:1;
    }

    small {
      font-style: italic;
      padding-left: .5em;
    }
    :focus + small { color: #66AFE9; }

    textarea { height:10em; }

    label.radio, label.checkbox {
      width:100%;
      max-width:55em;

      input[type=checkbox], input[type=radio] {
        display:inline;
        margin-right:.25em;
      }
    }

    textarea.big {
      width:100%;
      max-width:55em;
      height:20em;
    }

    .image-upload {
      cursor:pointer;
      text-align:center;
      vertical-align:middle;
      width:100%;
      min-height:3em;
      background-color:#f5f5f5;
      cursor:pointer;
    }

    .image-upload.loading {
      span { display:none; }
      background:asset-data-url('ajax-loader.svg') center center no-repeat;
      background-size:contain;
    }
  }

  .cf-cgroup.error {
    input, select, textarea { border:2px solid #EBCCD1; }
    input:focus, select:focus, textarea:focus {
      border-color:#EBCCD1;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(235, 204, 209, 0.6);
    }
  }

  .help-block {
    display:block;
    max-width:55em;
    font-weight:bold;
    color:#A94442;
    background-color:#F2DEDE;
    border-color:#EBCCD1;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0px 0px 6px #666;
    padding:.5em 1em;
    margin-top:.5em;
  }

  .cf-cgroup.date-select {
    select { display:inline; }
    select:first-of-type { max-width:5em; }
    select:nth-of-type(2) { max-width:12.35em; }
    select:nth-of-type(3) { max-width:7em; }
  }

  .cf-cgroup.datetime-select {
    select { display:inline; }
    select:first-of-type { max-width:9.5em; }
    select:nth-of-type(2) { max-width:20em; }
    select:nth-of-type(3) { max-width:9em; }
    select:nth-of-type(4) { max-width:7em; }
    select:nth-of-type(5) { max-width:7em; }
  }
}



@media only screen and (min-width: 35em) {
  .cf-cgroup.cf-textarea-only {
    width:55em;

    textarea.big.md-input {
      width:95.5%;
      margin:0 auto .5em auto;

      padding-left:.5em;
      padding-right:.5em;
    }

    .image-upload { line-height:3em; }

    .image-upload.dragging {
      position: absolute;
      left:0;
      top: 0;
      width: calc(100% + 2px);
      height: 22em;
      z-index: 100;
      line-height: 22em;
    }
  }

  .cf-form {
    textarea, .cf-cgroup.cf-textarea-only .md-editor textarea.big.md-input {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .cf-cgroup.cf-textarea-only .md-editor textarea.big.md-input { margin:0 auto .5em auto; }
  }
}

/* eof */
