/* -*- coding: utf-8 -*- */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
  margin: 1em 0;
  padding: 0 0 .5em;
  border-bottom: 2px solid #C4D4DA;
}

.cf-cgroup {
  margin: 0 0 2em 1em;

  input, textarea {
    font-size: 1rem;
    padding: .5rem 1rem;
    min-width: 20rem;
  }

  input[type="checkbox"], input[type="radio"], input[type="file"] {
    min-width: 0;
  }
  .radio {
    display: block;
  }
  .cntrls {
    margin: 0 0 0 2em;
  }
  .icon-edit-user {
    line-height: 2;
  }
}

/* eof */
