/* -*- coding: utf-8 -*- */

.form-horizontal {
  .cf-cgroup:after { clear:both; }
  .cf-cgroup:before, .cf-cgroup:after {
    display: table;
    content: " ";
  }

  .cf-cgroup {
    margin-bottom: 15px;
    max-width:55em;

    label {
      padding-top: 7px;
      margin-bottom: 0px;
      text-align: right;

      width: 26%;
      max-width: 100%;
      min-height: 1px;
      float: left;

      position: relative;
      padding-right: 1%;
      padding-left: 1%;
      display: inline-block;
      font-weight: bold;
      line-height: 1.42857em;
      vertical-align: middle;
    }

    .cntrls {
      width: 70%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-left:1%;
      padding-right:1%;
      line-height: 1.42857em;
      vertical-align: middle;

      &.empty { padding-top:7px; }

      input:focus, select:focus, textarea:focus {
        border-color: #66AFE9;
        outline: 0px none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
      }

      input, select, textarea {
        width:100%;
        max-width:400px;
        display: block;
        padding: 6px 12px;
        line-height: 1.42857em;
        color: #333;
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }

      textarea { height:10em; }

      label.radio, label.checkbox {
        width:100%;
        max-width:55em;
      }

      textarea.big {
        width:100%;
        max-width:100%;
        height:20em;
      }

      .image-upload {
        cursor:pointer;
        text-align:center;
        vertical-align:middle;
        width:100%;
        height:3em;
        line-height:3em;
        background-color:#f5f5f5;
        cursor:pointer;
      }

      .image-upload.loading {
        span { display:none; }
        background:asset-data-url('ajax-loader.gif') center center no-repeat;
      }

      input[type=radio], input[type=checkbox] { width:auto; }

      .radio, .checkbox {
        position: relative;
        display: block;
        float:none;
        text-align:left;
        font-weight:normal;
        padding-left:0;

        * { display:inline; }
      }
    }
  }

  .radio, .checkbox {
    min-height: 27px;
  }

  .radio, .checkbox, .radio-inline, .checkbox-inline {
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .radio, .checkbox {
    position: relative;
    display: block;
  }
}

.form-search {
  display:block;
  margin-bottom:1em;

  input, textarea {
    padding: 6px 12px;
    line-height: 1.42857em;
    color: #333;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:hover, .btn:focus, .btn.focus, a.btn:hover, a.btn:focus, a.btn.focus {
  color: #333;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus,
.btn.focus:active, .btn.active.focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.cf-btn, .message-links .cf-btn {
  @extend .btn;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.cf-btn:hover, .cf-btn:focus, .cf-btn.focus,
.cf-btn:active, .cf-btn.active {
    color: #333;
    background-color: #E6E6E6;
    border-color: #ADADAD;
}

a.cf-btn:link, a.cf-btn:visited {
  color: #333;
}

.cf-primary-btn {
  @extend .btn;
  color: #FFF;
  background-color: #337AB7;
  border-color: #2E6DA4;
}

a.cf-primary-btn:link, a.cf-primary-btn:visited {
  color: #FFF;
}

.cf-primary-btn:hover, .cf-primary-btn:focus, .cf-primary-btn.focus,
.cf-primary-btn:active, .cf-primary-btn.active {
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font: inherit;
  color: inherit;
}

fieldset {
  min-width:0;
  padding:0;
  margin:0;
  border:0;
}

legend {
  display:block;
  width:100%;
  font-weight:bold;
  font-size:1.1em;
  margin-bottom:1em;
  margin-top:1em;
  border-bottom: 2px solid #C4D4DA;
}

.users-modal {
  ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
  }
}



/* markdown editor adjustments */

.form-horizontal .cf-cgroup.cf-textarea-only {
  max-width:100%;

  .cntrls {
    width: 100%;
    padding-left:0;

    .md-editor {
      width:55em;
      max-width:100%;

      .btn-group {
        display:inline-block;
      }

      textarea.big.md-input {
        width:90%;
        margin:auto;
        margin-bottom:1em;
      }
      
      .image-upload a {
        color: #3481cd;
        
        &:hover {
          color: #990909;
        }
      }
    }

    .md-editor.md-fullscreen-mode {
      width:100%;
    }
  }
}

.form-horizontal .cf-cgroup.date-select .cntrls {
  select { display:inline; }
  select:first-of-type { max-width:5em; }
  select:nth-of-type(2) { max-width:12.35em; }
  select:nth-of-type(3) { max-width:7em; }
}

// safari fix: search inputs in safari can't have a padding
input[type="search"] { -webkit-appearance: textfield; }

input[name=preview]{
    animation: preview 5s infinite;
}

@keyframes preview {
  0% { background: #FFF; color: #333; }
  50% {background: #66ADEA; color: #000; }
  100% { background: #FFF; color: #333; }
}



@media only screen and (max-width : 800px) {
  .form-horizontal {
    .cf-cgroup {
      label {
        padding-right: 0em;
        padding-left: 0em;
        text-align:left;
        float:none;
      }

      .cntrls {
        float:none;
        padding-right: 0em;
        padding-left: 0em;
        width:92%;

        input, select, textarea {
          font-size:16px;
        }
      }
    }
  }
}

@media only screen and (max-width : 320px), only screen and  (max-width : 480px) {
  .form-horizontal .cf-cgroup.cf-textarea-only {
    .cntrls {
      width: auto;
      .md-editor {
        width:auto;

        textarea.big.md-input {
          width:95.5%;
          margin:0;
          padding-left:.5em;
          padding-right:.5em;
        }
      }
    }
  }

}

/* eof */
