/* -*- coding: utf-8 -*- */

body.forums {
  list-style-type:none;
  padding-left:0;

  h3 {
    font-size:1.25em;
    border-top: 2px solid #c4d4da;
    padding: .7em 0 0;
    margin: 1em 0em;
  }

  ul, ol {
    list-style-type:none;
    padding-left:0;
  }

  .thread {
    border:0;
    background:none;
    margin:0 0 1em;
    padding:0;
  }

  a.thread-info {
    font-weight:bold;
  }

  .last-answer {
    display: block;
    margin: 0 0 0 2em;
}
}

/* eof */
