/* -*- coding: utf-8 -*- */

body.forums {
  list-style-type:none;
  padding-left:0;

  h3 {
    font-size:1.25em;
    border-top: 2px solid #c4d4da;
    padding: .7em 0 0;
    margin: 1em 0em;
  }

  ul, ol {
    list-style-type:none;
    padding-left:0;
  }

  .thread {
    border:0;
    background:none;
    margin:0 0 1.5em;
    padding:.2em 0 .2em .75em;
    border-left: 5px solid #c4d4da;
    border-radius: 0;
  }

  a.thread-info {
    font-weight:bold;
  }

  .last-answer, .first-unread {
    display: block;
    margin: 0 0 0 2em;
  }
}

@media only screen and (min-width : 65em) {
  body.forums.stats {
    #content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1em;
    }
    section {
      width: calc(50% - 4em);
      max-width: 60em;
      margin: 0 1em;
    }

    #overview {
      flex: 1 1 100%;
      margin: 0 0.5em 1em;
    }

    h3 {
      border-top:0;
      padding-top:0;
    }

    .chart {
      width:100%;
      height:400px;
    }

    .users-list {
      .registered-user {
        display:inline-block;
        min-width:10em;
      }

      .cnt {
        display:inline-block;
        text-align:right;
        min-width:5em;
      }
    }
  }
}

/* eof */
