/* -*- coding: utf-8 -*- */

.cf-default-table {
  border-collapse: collapse;
  width:100%;

  th, td {
    padding:0.4em 0.5em 0.4em 0.5em;
    border-bottom:1px solid #d5d5d5;
  }

  tr {
    margin:0;
    padding:0;

    &:nth-child(2n) {
      background-color: #f1f3f4;
    }
    &:hover {
      background-color: #d5d5d5;
    }
  }

  thead tr:hover {
    background-color: inherit;
  }

  th { text-align:left; }
  thead th { color: #5D7380; }
  tfoot th { border-bottom:0; }

  tr.no-data {
    td {
      text-align:center;
      padding-top:2em;
      padding-bottom:2em;
      background-color:#f1f3f4;
    }
  }
}


@media only screen and (max-width : 320px), only screen and  (max-width : 480px) {
  .cf-default-table.responsive {
    &, tr, th, td { display:block; }
    thead { display:none; }
    tr { margin-bottom:2em; }

    th .block, td .block { display:inline; }

    th, td { text-align:left; }
    th:before,
    td:before {
      font-weight:bold;
      content: attr(data-label) ": ";
    }

    td:last-of-type { border:0; }
  }
}

/* eof */
