/* -*- coding: utf-8 -*- */

summary::-webkit-details-marker {
  display:none;
}

input:-moz-placeholder { color: #c5c5c5; }
::-webkit-input-placeholder { color: #c5c5c5; }
::-webkit-input-placeholder { color: #c5c5c5; }
::-moz-placeholder { color: #c5c5c5; }
::-ms-input-placeholder { color: #c5c5c5; }

th.no-data, td.no-data, p.no-data {
  text-align:center;
}

p.no-data {
  padding-top:2em;
  padding-bottom:2em;
  background-color:#f1f3f4;
}

.small {
  font-size:0.8em;
  line-height:0.8em;
}


@media only screen and (min-width: 35em) {
  th.nummeric, td.nummeric,
  .cf-default-table th.nummeric, .cf-default-table td.nummeric,
  .cf-default-table.responsive th.nummeric, .cf-default-table.responsive td.nummeric {
    text-align:right;
  }
}

/* eof */