/* -*- coding: utf-8 -*- */

/* upper navigation */
.top {
  background-color: #699cb3;
  background-image: linear-gradient(to right, #75b0ca 0%, #4089aa 100%);
  border-bottom: 3px double #ffffff;
  border-top: 1px solid #0070a2;
  min-height: 2.25em;
  font-size: 1em;
  line-height: 2.25em;
  position: relative;

  .selflinks {
    margin: 0 0 0 0.5em;
    padding: 0;

    li {
      display: inline;
      margin-right: 1.5em;

      a {
        display: inline-block;
      }
      a:link,
      a:visited {
        color: #e6f2f7;
      }
      a:hover,
      a:focus {
        color: white;
      }
    }
  }
}

.personallinks {
  list-style-type: none;
  padding: 0;
  margin: 0.5em;

  li {
    display: block;
    margin: 0 0 1em 0;
    line-height: 1em;
    white-space: nowrap;
  }
  a:visited {
    color: #3481cd;
  }
  img {
    margin-right: 0.2em;
  }
  #user-not-signed-in {
    color: #999;
  }
}

.flex-item.logo {
  h1 {
    position: relative;
    margin: 0;
    span {
      display: none;
    }
    background: url(asset-path("selfhtml-forum-small.svg")) no-repeat center
      center;
    background-size: contain;
    width: 100%;
    height: 96px;
    margin-bottom: 0.3em;
  }

  a.home {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
  }

  .rss,
  .atom,
  .donate {
    display: none;
  }
}

aside {
  border-top: 2px solid #c4d4da;
  margin: 1em 0em;
  text-align: center;

  .aktuelle-mitteilung {
    text-align: left;
  }
}

.aktuelle-mitteilung,
nav.quicklinks {
  vertical-align: top;
  display: inline-block;
  max-width: 500px;
  font-size: 1em;
  background: none repeat scroll 0% 0% #f1f3f4;
  padding: 0.6em 0.5em 0.6em 0.7em;
  line-height: 1.2;
  margin-bottom: 0;
  border-radius: 0px 0.5em 0.5em;
  border: 1px solid #d5d5d5;
}

.aktuelle-mitteilung img {
  float: left;
  margin: 0.3em 0.5em 0px 0px;
}

div.aktuelle-mitteilung {
  & > p {
    margin-top: 0;
    margin-bottom: 0;
  }

  margin-top: 1em;
}
.aktuelle-mitteilung.img {
  min-height: 2.4em;
}

.aktuelle-mitteilung {
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-weight: bold;
  }

  h3 {
    font-size: 1.3em;
    color: #699cb3;
  }
}

nav {
  ul {
    margin-left: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 80%;
      font-weight: normal;
      //background-color: #F1F3F4;
      border-radius: 0px 0.4em 0.4em;
      border: 1px solid #d5d5d5;
      padding: 0;
      margin-top: 0.3em;
    }

    a:link,
    a:visited {
      color: #3481cd;
      line-height: 1.6;
      padding: 0.4em 0.6em;
      display: block;

      &:hover,
      &:active,
      &:focus {
        color: #990909;
      }
    }
  }
}

nav.quicklinks {
  max-width: none;
  display: block;
  padding: 0 0.25em 0.25em 0.5em;
  margin: 0 1em 0.8em 0;

  li {
    display: block;
    border: none;
    padding: 0.3em 0;
    font-size: 1em;
  }

  a,
  a:link {
    display: block;
    padding: 0;
  }

  li.cites a {
    display: inline;
  }
  a.stats {
    display: none;
    padding-left: 0.2em;
  }

  .search {
    ::input-placeholder {
      color: white;
    }

    input[type="search"] {
      border-radius: 0px 0.5em 0.5em;
      border: 1px solid #d5d5d5;
      padding: 0.2em 0.5em;
    }
  }
}

@media only screen and (min-width: 35em) {
  nav ul {
    margin: 0 0 1em;
  }

  .top {
    font-size: 1.25em;

    .selflinks {
      margin-left: 1.75em;
    }
  }

  .personallinks.flex-item {
    margin: 0.1em 2em;

    li {
      display: inline;
      margin-right: 1em;
      line-height: 1.5;
    }
    li:last-child {
      margin-right: 0;
    }

    a {
      display: inline;
    }
  }

  a:link,
  a:visited {
    color: #3481cd;

    &:hover,
    &:active,
    &:focus {
      color: #990909;
    }
  }

  .page-header.flex-item {
    margin-top: 0;
  }

  .logo.flex-item {
    margin-bottom: 1em;

    h1 {
      background: url(asset-path("selfhtml-forum.svg")) no-repeat center center;
      background-size: contain;
      width: 160px;
      height: 178px;
      margin-bottom: 0.3em;
    }

    .rss,
    .atom,
    .donate {
      display: inline;
    }
  }

  nav.quicklinks {
    ul {
      display: inline;
    }
    li {
      display: inline-block;
      margin-right: 1em;

      a,
      a:link,
      a:visited {
        display: inline;
      }
    }
  }
}

@media only screen and (min-width: 55em) {
  .personallinks {
    text-align: right;
  }

  nav.quicklinks {
    .search {
      float: right;
    }
  }
}

/* eof */
