/* -*- coding: utf-8 -*- */


/* obere Navigation einschließlich Suche */
#top {
  background-color: #699CB3;
  background-image: linear-gradient(to right, #75b0ca 0%,#4089aa 100%);
  border-bottom: 3px double #FFFFFF;
  border-top: 1px solid #0070A2;
  padding-left: 2em;
  min-height: 2.25em;
  font-size: 1.25em;
  line-height: 2.25em;
  position: relative;

  .selflinks {
    float:left;
    a:link, a:visited, input { opacity: .75; }
    a:hover, a:focus, input:focus, input:hover { opacity: 1; }
    a {
      display: inline-block;
      color: white;
    }
  }

  #search p {
    margin: 0;
    float: right;
    height:2em;
  }
  #search label { display:none; }
  #search #topterm {
    border: 0 none;
    color: white;
    font-family: Calibri, 'PT sans', sans-serif;
    font-size: 1em;
    padding: .2em .2em .2em 1.2em;
    background: asset-data-url("search-white.png") no-repeat scroll 0 center transparent;
    border-radius: 6px;
    cursor: pointer;
    height:2em;
  }

  #search #topterm:focus {
    color: #afafaf;
    background: asset-data-url("search-lightgrey.png") no-repeat scroll .2em center white;
    cursor: text;
  }

  #search ::input-placeholder { color: white; }

  #topterm,
  #topterm:hover {
    transition: all 0.2s ease-in-out 0s;
  }
}

#top ul,
.personallinks {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 3em; 
  }

  li.search {
    float:right;
  }
}

.personallinks {
  float:right;
  z-index:1;
  position:relative;

  li {
    margin-right: 1em;
  }

  img {
    margin-right: .2em;
  }

  a:link, a:visited {
    color: #3481cd;

    &:hover, &:active, &:focus {
      color: #990909;
    }
  }
}

#kopf {
  margin: 1em 2em;
  position: relative;

  .sociallinks {
    position: absolute;
    right: 0;
    bottom: 1.65em;
    padding: 0;
    margin: 0;
    border: 0 none;
    width: auto;
    background: transparent;
    
    li {
      float: left;
      padding: 0;
      margin: 0 0 0 .7em;
      position: relative;
      width: 37px;
      height: 37px;
      overflow: hidden;
    }

    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      
      img {
        position: absolute;
        left: 0;
        top: 0;
        background: white;
      }

      &:hover img, &:focus img {
        top: -40px;
      }
    }

    a, a:hover {
      transition: none;
    } 

    a.atom img { left: -40px; }
    a.github img { left: -80px; }
    a.twitter img { left: -120px; }
    a.flattr img { left: -160px; }
    a.trello img { left: -200px; }
    a.donate img { left: -240px; }
  } 

  h1 {
    display: inline-block;

    span {
      display: none;
    }
  }
}

.aktuelle-mitteilung, #quicklinks {
  vertical-align:top;
  display:inline-block;
  max-width:500px;
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  padding: 0.6em 0.5em 0.6em 0.7em;
  line-height: 1.2;
  margin-bottom: 1.5em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;
  margin-right:1em;

  img {
    float: left;
    margin: 0.3em 0.5em 0px 0px;
  }
}

div.aktuelle-mitteilung {
  & > p {
    margin-top:0;
    margin-bottom:0;
  }

  margin-top:1em;
}
.aktuelle-mitteilung.img {
  min-height: 2.4em;
}

nav {
  ul {
    margin-left:0;
    padding:0;
    display:inline;

    li {
      display: inline-block;
      font-size: 80%;
      font-weight: normal;
      background-color: #F1F3F4;
      border-radius: 0px 0.4em 0.4em;
      border:1px solid #D5D5D5;
      padding:0;
      margin-top:0.3em;
    }

    a:link, a:visited {
      color: #3481cd;
      line-height: 1.6;
      padding: 0.4em 0.6em;
      display: block;

      &:hover, &:active, &:focus {
        color: #990909;
      }
    }
  }
}

#quicklinks {
  min-width: 12em;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #5d7380;
    margin-top: 0;
  }
  li {
    display: block;
  }

  a {
    display: block;
    border-radius: 0 .4em .4em;

    &:hover, &:focus, &:active {
      background-color: #fff;
    }
  }

}

nav ul .create-new, #link-neuenachricht {
  background-color: #2C7DD3;
  border: 0 none;

  a {
    color:#fff;
    font-weight:bold;
    border-radius: 0 .4em .4em;

    &:hover, &:focus, &:active {
      color: #990909;
      background-color: #2C7DD3;
    }
  }
}


.column {
  margin: 0 .25em;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  & > nav {
    margin-top: -.3em;
  }
}

@media only screen and (max-width : 800px) {
  #kopf {
    .sociallinks {
      position:static;
      display:block;
      float:right;
    }

    h1 {
      margin-bottom:0.1em;
    }
  }
}


@media only screen and (max-width : 320px), only screen and  (max-width : 480px) {
  #top {
    padding-left: 1em;
    line-height:1.5em;

    .selflinks {
      float:none;
      li { margin-right:1em; }
    }

    #search p {
      float:none;
    }
  }

  .personallinks {
    margin-left:.5em;
    margin-right:.5em;
    float:none;

    li {
      display:block;
      margin-bottom:1em;
      line-height:1em;
      text-align:left;
    }

    li:first-of-type {
      margin-top:1em;
    }
  }

  #kopf {
    margin-right:.5em;
    margin-left:.5em;

    h1 {
      display:block;

      img { max-width:100%; }
    }

    .sociallinks {
      display:none;
    }
  }

  #quicklinks {
    display:block;
    margin-right:0;
  }
  
  nav {
    ul {
      li {
        display: block;
        margin-bottom:.75em;
        a { display: block; }
      }
    }
  }

  .column { margin: 0; }
}


/* eof */
