/* -*- coding: utf-8 -*- */


/* upper navigation */
#top {
  background-color: #699CB3;
  background-image: linear-gradient(to right, #75b0ca 0%,#4089aa 100%);
  border-bottom: 3px double #FFFFFF;
  border-top: 1px solid #0070A2;
  min-height: 2.25em;
  font-size: 1em;
  line-height: 2.25em;
  position: relative;

  .selflinks {
    a:link, a:visited, input { opacity: .75; }
    a:hover, a:focus, input:focus, input:hover { opacity: 1; }
    a {
      display: inline-block;
      color: white;
    }
  }
}

.personallinks {
  list-style-type: none;
  padding:0;
  margin-left:.5em;
  margin-right:.5em;

  li {
    display:block;
    margin: 0 1em 1em 0;
    line-height:1em;
    white-space: nowrap;
  }
  img {
      margin-right: .2em;
  }
}

#top ul {
  margin: 0 0 0 1em;
  padding: 0;
  
  li {
    display: inline;
    margin-right: 1.5em;
  }
}

.flex-item.logo {
  h1 {
    position:relative;
    margin:0;
    span {
      display: none;
    }
    background:url(asset-path('selfhtml-forum-small.svg')) no-repeat center center;
    background-size:contain;
    width:100%;
    height:96px;
    margin-bottom:0;
  }

  a.home {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:block;
  }

  .rss, .atom { display:none; }
}

aside {
  border-top: 2px solid #C4D4DA;
  margin:1em 0em;
  text-align:center;

  .aktuelle-mitteilung { text-align:left; }
}

.aktuelle-mitteilung, nav.quicklinks {
  vertical-align:top;
  display:inline-block;
  max-width:500px;
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  padding: 0.6em 0.5em 0.6em 0.7em;
  line-height: 1.2;
  margin-bottom: 0;
  border-radius: 0px 0.5em 0.5em;
  border: 1px solid #D5D5D5;

  img {
    float: left;
    margin: 0.3em 0.5em 0px 0px;
  }
}

div.aktuelle-mitteilung {
  & > p {
    margin-top:0;
    margin-bottom:0;
  }

  margin-top:1em;
}
.aktuelle-mitteilung.img {
  min-height: 2.4em;
}

nav {
  ul {
    margin-left:0;
    padding:0;

    li {
      display: inline-block;
      font-size: 80%;
      font-weight: normal;
      //background-color: #F1F3F4;
      border-radius: 0px 0.4em 0.4em;
      border:1px solid #D5D5D5;
      padding:0;
      margin-top:0.3em;
    }

    a:link, a:visited {
      color: #3481cd;
      line-height: 1.6;
      padding: 0.4em 0.6em;
      display: block;

      &:hover, &:active, &:focus {
        color: #990909;
      }
    }
  }
}

nav.quicklinks {
  max-width: none;
  display: block;
  padding:0 .25em .25em .5em;
  margin: 0 1em 0.8em 0;

  li {
    display: block;
    border: none;
    padding:.3em 0;
    font-size: 1em;
  }

  a, a:link {
    display: block;
    padding:0;
  }

  .search {
    ::input-placeholder { color: white; }
  }
}

/* nav ul .create-new { */
/*   background-color: #2C7DD3; */
/*   border: 0 none; */

/*   a { */
/*     color:#fff; */
/*     font-weight:bold; */
/*     border-radius: 0 .4em .4em; */

/*     &:hover, &:focus, &:active { */
/*       color: #990909; */
/*       background-color: #2C7DD3; */
/*     } */
/*   } */
/* } */


@media only screen and (min-width: 35em) {
  #top {
    font-size: 1.25em;
  }
  #top ul,
  .personallinks {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin-right: 3em;

      a { display:inline; }
    }
  }

  #top ul { margin-left:1em; }

  .personallinks {
    z-index:1;
    
    li {
      margin-right: 1em;
      line-height: 1.5;
    }

    a:link,
    a:visited {
      color: #3481cd;

      &:hover,
      &:active,
      &:focus {
        color: #990909;
      }
    }
  }

  .flex-item.logo {
    margin-bottom:1em;

    h1 {
      background:url(asset-path('selfhtml-forum.svg')) no-repeat center center;
      background-size:contain;
      width:160px;
      height:178px;
    }

    .rss, .atom {
      margin-top:.5em;
      display:inline;
    }
    .rss { float:left; }
    .atom { float:right; }
  }

  nav.quicklinks {
    ul { display: inline; }
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }

}

@media only screen and (min-width: 55em) {
  .personallinks {
    text-align:right;
  }
  
  nav.quicklinks {
    .search { 
      float:right;
    }
  }
}



/* eof */
