/* -*- coding: utf-8 -*- */

body.help {
  section {
    font-size: 1.2em;
    line-height: 1.6;
    h2 {
      font-family: "Oswald",Calibri,"PT Sans",sans-serif;
    }
    ul {
      list-style: none;
    }
  }
}

@media only screen and (min-width : 65em) {
  body.help {
    #content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1em;
    }
    section {
      width: calc(50% - 4em);
      max-width: 60em;
      margin: 0 1em;

      + h1 {
        flex: 1 1 100%;
        margin: 0 0.5em 1em;
      }
    }
  }
  .chart-cites {
    margin-top: 2em;
  }
}

/* eof */