/* -*- coding: utf-8 -*- */

@import "font-awesome-sprockets";
@import "font-awesome";

.icon-message:before {
  @extend .fa;
  cursor: pointer;

  &.restore { @extend .fa-check; }
  &.delete { @extend .fa-trash; }
  &.answer { @extend .fa-unlock; }
  &.no-answer { @extend .fa-lock; }
  &.no-answer.user { color:#999; }
  &.unread { @extend .fa-eye-slash; }
  &.mark-interesting { @extend .fa-star-o; }
  &.mark-boring { @extend .fa-star; }
  &.subscribe { @extend .fa-envelope-o; }
  &.unsubscribe { @extend .fa-envelope; }

  &.original-poster {
    @extend .fa-pencil;
    margin-right:0.15em;
  }
}

.thread header .details .icon-message.original-poster:before {
  font-size:0.8em;
}

.icon-message.spinning:before {
  content: none;
}
.icon-message.spinning {
  background:asset-url("ajax-loader.svg") center center no-repeat;
  background-size:contain;
  width:1em;
  height:1em;
}

.icon-thread {
  @extend .fa;
  cursor: pointer;
  color: #3481cd;

  &.open { @extend .fa-folder-open; }
  &.closed { @extend .fa-folder; }
  &.move { @extend .fa-arrows; }
  &.sticky { @extend .fa-thumb-tack; }
  &.archive { @extend .fa-cloud; }
  &.no-archive { @extend .fa-sign-out; }
  &.mark-invisible { @extend .fa-remove; }
  &.mark-visible { @extend .fa-recycle; }
  &.mark-thread-read { @extend .fa-check; }
}

.icon-thread.spinning:before {
  content:none;
}
.icon-thread.spinning {
  background:asset-url("ajax-loader.svg") center center no-repeat;
  background-size:contain;
  width:1em;
  height:1em;
}


i.icon-thread {
  margin-right: .3em;
}

.icon-registered-user {
  em { display:none; }

  @extend .fa;
  @extend .fa-user;
  cursor: pointer;
}


.icon-vote-up {
  @extend .fa;
  @extend .fa-thumbs-up;
  cursor: pointer;
}

.icon-vote-down {
  @extend .fa;
  @extend .fa-thumbs-down;
  cursor: pointer;
}

.icon-flag-message {
  @extend .fa;
  @extend .fa-flag;
  cursor: pointer;
}

.icon-delete-user, .icon-delete-forum, .icon-delete-group, .icon-remove-permission,
.icon-delete-badge, .icon-delete-tag-synonym, .icon-delete-mail,
.icon-delete-nofication, .icon-del-tag, .icon-delete-search-section,
.icon-delete-badge-group, .icon-delete-event, .icon-delete-redirection {
  @extend .fa;
  @extend .fa-trash;
  cursor: pointer;
}

.icon-edit-user, .icon-edit-forum, .icon-edit-group, .icon-edit-badge,
.icon-edit-tag-synonym, .icon-edit-search-section, .icon-edit-badge-group,
.icon-edit-event, .icon-edit-redirection {
  @extend .fa;
  @extend .fa-edit;
  cursor: pointer;
}

.icon-merge-forum, .icon-answer-mail, .icon-answer-mail-wo-quote {
  @extend .fa;
  @extend .fa-share;
  cursor: pointer;
}

.icon-renew-nofication {
  @extend .fa;
  @extend .fa-eye-slash;
  cursor: pointer;
}

.icon-tag-ok {
  @extend .fa;
  @extend .fa-check;
  cursor: pointer;
}

.icon-add {
  @extend .fa;
  @extend .fa-plus;
  cursor: pointer;
}

.icon-remove {
  @extend .fa;
  @extend .fa-minus;
  cursor: pointer;
}

.icon-new-activity {
  @extend .fa;
  @extend .fa-comments;
  cursor:pointer;
}

.icon-new-mail {
  @extend .fa;
  @extend .fa-envelope;
  cursor:pointer;
}


.author-email {
  @extend .fa;
  @extend .fa-envelope;
  vertical-align: 1px;
}

.author-homepage {
  @extend .fa;
  @extend .fa-external-link;
}

.icon-image {
  @extend .fa;
  &.delete { @extend .fa-trash; }
}

.sticky-icon {
  background: asset-data-url("wichtig.png");
  position: absolute;
  left: .2em;
  top: -.6em;
  width:17px;
  height:17px;
}

.has-interesting-icon {
  @extend .fa;
  @extend .fa-star-half-o;
  color:#8db243;
  position:absolute;
  left:1.4em;
  top:-.6em;
}

.no-archive-icon {
  @extend .fa;
  @extend .fa-archive;
  color:#999;
  position:absolute;
  left:2.4em;
  top:-.6em;
}

.icon-sort-asc {
  @extend .fa;
  @extend .fa-sort-amount-asc;
}

.icon-sort-desc {
  @extend .fa;
  @extend .fa-sort-amount-desc;
}

.icon-mark-read {
  @extend .fa;
  @extend .fa-check;
}

.icon-mark-unread {
  @extend .fa;
  @extend .fa-eye-slash;
}

.problematic-site a:before {
  @extend .fa;
  @extend .fa-bug;
}

.icon-unread-mail, .icon-unread-notification {
  @extend .fa;
  @extend .fa-envelope;
}

.icon-mail-sent {
  @extend .fa;
  @extend .fa-send-o;
}

.icon-mail-received {
  @extend .fa;
  @extend .fa-download;
}

.show-password {
  @extend .fa;
  @extend .fa-eye;
  cursor:pointer;
  margin-right:.5em;
  font-size:1.1em;
  border:0;
  background:inherit;
  padding:0;
}

.icon-help {
  @extend .fa;
  @extend .fa-question;
}

.thread header.new .details::after {
  content: "\f0f3";
  font-family:FontAwesome;
  color:#df6c20;
  margin-left:.5em;
}

/* eof */
