/* -*- coding: utf-8 -*- */

@import "font-awesome-sprockets";
@import "font-awesome";

.icon-message {
  @extend .fa;
  cursor: pointer;

  &.restore { @extend .fa-check; }
  &.delete { @extend .fa-trash; }
  &.answer { @extend .fa-unlock; }
  &.no-answer { @extend .fa-lock; }
  &.no-answer.user { color:#999; }
  &.unread { @extend .fa-eye-slash; }
  &.mark-interesting { @extend .fa-star-o; }
  &.mark-boring { @extend .fa-star; }

  &.original-poster { @extend .fa-exclamation; }
  &.original-poster::before { margin-right:0.15em; }
}

.icon-thread {
  @extend .fa;
  cursor: pointer;

  &.open { @extend .fa-folder-open; }
  &.closed { @extend .fa-folder; }
  &.move { @extend .fa-arrows; }
  &.sticky { @extend .fa-thumb-tack; }
  &.archive { @extend .fa-cloud; }
  &.no-archive { @extend .fa-sign-out; }
  &.mark-invisible { @extend .fa-remove; }
  &.mark-visible { @extend .fa-recycle; }
  &.mark-thread-read { @extend .fa-check; }
}

.icon-registered-user {
  em { display:none; }

  @extend .fa;
  @extend .fa-user;
  cursor: pointer;
}


.icon-vote-up {
  @extend .fa;
  @extend .fa-thumbs-up;
  cursor: pointer;
}

.icon-vote-down {
  @extend .fa;
  @extend .fa-thumbs-down;
  cursor: pointer;
}

.icon-flag-message {
  @extend .fa;
  @extend .fa-flag;
  cursor: pointer;
}

.icon-delete-user, .icon-delete-forum, .icon-delete-group, .icon-remove-permission,
.icon-delete-badge, .icon-delete-tag-synonym, .icon-delete-mail,
.icon-delete-nofication, .icon-del-tag, .icon-delete-search-section {
  @extend .fa;
  @extend .fa-trash;
  cursor: pointer;
}

.icon-edit-user, .icon-edit-forum, .icon-edit-group, .icon-edit-badge,
.icon-edit-tag-synonym, .icon-edit-search-section {
  @extend .fa;
  @extend .fa-edit;
  cursor: pointer;
}

.icon-merge-forum, .icon-answer-mail, .icon-answer-mail-wo-quote {
  @extend .fa;
  @extend .fa-share;
  cursor: pointer;
}

.icon-renew-nofication {
  @extend .fa;
  @extend .fa-eye-slash;
  cursor: pointer;
}

.icon-tag-ok {
  @extend .fa;
  @extend .fa-check;
  cursor: pointer;
}

.icon-add {
  @extend .fa;
  @extend .fa-plus;
  cursor: pointer;
}

.icon-remove {
  @extend .fa;
  @extend .fa-minus;
  cursor: pointer;
}

.icon-new-activity {
  @extend .fa;
  @extend .fa-comments;
  cursor:pointer;
}

.icon-new-mail {
  @extend .fa;
  @extend .fa-envelope;
  cursor:pointer;
}


.author-email {
  @extend .fa;
  @extend .fa-envelope;
}

.author-homepage {
  @extend .fa;
  @extend .fa-external-link;
}

.icon-image {
  @extend .fa;
  &.delete { @extend .fa-trash; }
}

.sticky-icon {
  background: asset-data-url("wichtig.png");
  position: absolute;
  left: .2em;
  top: -.6em;
  width:17px;
  height:17px;
}

.has-interesting-icon {
  @extend .fa;
  @extend .fa-star-half-o;
  color:#8db243;
  position:absolute;
  left:1.4em;
  top:-.6em;
}

.no-archive-icon {
  @extend .fa;
  @extend .fa-archive;
  color:#999;
  position:absolute;
  left:2.4em;
  top:-.6em;
}

/* eof */