/* -*- coding: utf-8 -*- */

.status-unread {
  background-color: #5CB85C;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.status-read {
  background-color: #777;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.icon-unread-mail { color:#5CB85C; }

.mail.index {
  .folded { display:none; }
  .fold-marker td:first-of-type {
    color:#3481cd;
    cursor:pointer;
  }
  tbody.open {
    box-shadow: inset .3em 0 0 0 #3481cd;
  }
}

/* eof */
