.inbox-list {
  li {
    clear:both;

    a {
      width:100%;
      text-align:left;

      span.unread-batches {
        float:right;
      }

    }

  }
}

.unread-mark {
  width:1em;
}

@media only screen and (max-device-width: 1280px) {
  ul.inbox-list li a span.unread-batches {
    float:none;
    display:inline;
  }
}

/* eof */