/* -*- coding: utf-8 -*- */

.status-unread {
  background-color: #5CB85C;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

td .status-unread {
  border-radius: 50%;
  padding: .1em .6em;
  vertical-align: .1em;
  cursor: default;
}

.status-read {
  background-color: #777;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

/* eof */