/* -*- coding: utf-8 -*- */

main {
  max-width:95vw;

  h1 {
    font-family: "Oswald",Calibri,"PT Sans",sans-serif;
    border-top: 2px solid #C4D4DA;
    padding: 0.7em 0px 0px;
    margin:0.5em 0em;
  }

  .visited, a.visited, #root a:visited {
    color: #999;
  }
}


@media only screen and (min-width : 35em) {
  main {
    max-width:100%;

    h1 { margin: 0 0 1em; }
  }
}

/* eof */
