/* -*- coding: utf-8 -*- */

#posting-author {
  color: #8a9da9;
  font-size: 80%;
  font-weight:bold;
}

main h2 { margin-left:0; }

.thread-message {
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  width:100%;
  width:95vw;
  margin: 1em 0em 1em 0em;
  padding: 0.6em 0.1em 0.25em 0.1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;

  box-sizing: border-box;

  .flagged-message {
    border:1px solid #EBCCD1;
    border-radius: 0px 0.7em 0.7em;
    color:#A94442;
    width: 95%;
    margin: 0.5em 0px;
    padding: 0.8em 1em 1em;
  }

  h2, h3, h2 a, h3 a, header, header .author, header .author a {
    border: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .versions {
    font-size: .8em;
  }

  .posting-content {
    color: #039;
    border: 1px solid #E7C157;
    background: none repeat scroll 0% 0% #FDFCF3;
    font-family: Consolas,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Andale Mono","Droid Sans Mono","Lucida Console",monospace;
    margin: 0.5em 0px;
    padding: 0.8em 0.1em 1em;
    border-radius: 0px 0.5em 0.5em;
    font-size: 0.9em;
    line-height: 1.4em;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: underline;
    }

    a.mention {
      text-decoration: none;
      color:inherit;
      background-color:#eee;
      font-weight:bold;

      &:hover { text-decoration:underline; }
      &.highlighted-user { color: #8ab337; }
      &.highlighted-self { color: #c32e04; }
    }

    blockquote a.mention {
      &.highlighted-user { color: #bdd886; }
      &.highlighted-self { color: #d37b6d; }
    }

    img { max-width:100%; }

    ul, ol {
      margin-top: 1em;
      padding-left: 2em;
    }

    ul { list-style-type: disc;}

    ul ul { list-style-type: circle;}

    ul ul ul { list-style-type: square;}

    h3, h4 {
      margin: .8em 0;
      font-weight: bold;
    }
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.1em;
    }
    table {
      border-collapse: collapse;
      margin: 1em 0;
    }
    th, td {
      border: 1px solid;
      padding: .1em .3em;
    }
    tfoot td {
      font-weight: bold;
    }

    blockquote.show-quotes { cursor:pointer; }

    dt { font-weight: bold; }

    sup {
      position: relative;
      vertical-align: baseline;
      top: -.4em;
    }
  }

  .accepted, .message-references {
    list-style-type: none;
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    margin: .5em 1em 1em 0;
    padding: 1em 0 0;

    ul.cf-tags-list {
      margin-right: 0;
    }

    article {
      background-color: #fdfcf3;
      border: 1px solid #e7c157;
    }

    header {
      white-space: normal;
    }
  }


  .accepted + h3 {
    margin-top: 1.5em;
  }

  .message-links {
    font-size: .8em;

    a, button { margin-right: 1em; }
  }

  .forum-links a {
    color: #3481CD;
    border-radius: 0 .4em .4em;

    &:hover, &:active, &:focus {
      color: #990909;
      background-color: #fff;
    }
  }

  .deleted,
  .deleted a,
  .deleted.posting-content,
  .deleted.posting-content * {
    color: #900;
    border-color: #900;
  }

  .deleted ~ .voting {
    display: none;
  }


  /*
   * voting and accepting
   */

  & > .posting-header > .voting, & > .posting-footer > .voting {
    text-align: right;
    vertical-align: bottom;
    white-space: nowrap;

    .icon-vote-down::before,
    .icon-vote-up::before {
      content: none;
    }

    .votes {
      font-size: 1.5em;
      font-weight: bold;
      color: #8a9da8;
      cursor: default;
    }

    .vote, .accept, .infos {
      border: none;
      margin: 0;
      padding: 0;
      font: 0/0 serif;
      padding: 9px;
      vertical-align: 8px;
      background: none no-repeat center scroll transparent;
      background-size: contain;
    }

    .vote.icon-vote-down.spinning, .vote.icon-vote-up.spinning,
    .vote.icon-vote-down.spinning:hover, .vote.icon-vote-up.spinning:hover,
    .accepted-answer.spinning, .unaccepted-answer.spinning,
    .accepted-answer.spinning:hover, .unaccepted-answer.spinning:hover {
      background-image: asset-url("ajax-loader.svg");
    }

    .icon-vote-down[disabled], .icon-vote-down[disabled]:hover { background-image: asset-url("bewertung-minus-grau.svg"); }
    .icon-vote-up[disabled], .icon-vote-up[disabled]:hover { background-image: asset-url("bewertung-plus-grau.svg"); }

    .icon-vote-down, .icon-vote-down.active:hover { background-image: asset-url("bewertung-minus-gelb.svg"); }
    .icon-vote-up, .icon-vote-up.active:hover { background-image: asset-url("bewertung-plus-gelb.svg"); }
    .icon-vote-down.active, .icon-vote-down:hover { background-image: asset-url("bewertung-minus-rot.svg"); }
    .icon-vote-up.active, .icon-vote-up:hover { background-image: asset-url("bewertung-plus-gruen.svg"); }
    .icon-vote-down.disabled { background-image: asset-url("bewertung-minus-grau.svg"); }
    .icon-vote-up.disabled  { background-image: asset-url("bewertung-plus-grau.svg"); }

    .unaccepted-answer, .accepted-answer:hover { background-image: asset-url("bewertung-ok-gelb.svg"); }
    .accepted-answer, .unaccepted-answer:hover { background-image: asset-url("bewertung-ok-gruen.svg"); }

    .infos { background-image: asset-url('bewertung-info-blaugrau.svg'); }
    .infos:hover { background-image: asset-url('bewertung-info-rot.svg'); }
  }

  //& > .voting.bottom { float:right; }


  header h2 a,
  header h3 a,
  header .details a.version-link,
  header.visited h2 a,
  header.visited h3 a,
  header.visited .details a.versions {
    color: #3481cd;
  }

  header h2 a:hover,
  header h3 a:hover,
  header .details a.versions:hover,
  header.visited h2 a:hover,
  header.visited h3 a:hover,
  header.visited .details a.version-link:hover {
    color: #990909;
  }

  header .versions {
    .editor a.version-link {
      font-weight:bold;
      color:#999;
    }
    .edit-time { font-weight:normal; }
  }

  .controls {
    display:flex;
    margin-bottom:1em;
    flex-wrap:wrap;
  }
  form.button_to { display:inline; }
  .cf-btn { margin-bottom:0.2em; }

}

.thread-message.preview .posting-content {
  background-image:asset-url('preview.png');
  background-position:top right;
  background-repeat: no-repeat;
}

.archived .posting-content {
  background-image:asset-url('archived.png');
  background-position:top right;
  background-repeat: no-repeat;

  & > p:first-child {
    display: inline-block;
    background-color: inherit;
  }
}

button {
  &.loading:before {
    content: "";
    background: asset-url("ajax-loader.svg") no-repeat center scroll transparent;
    background-size: contain;
    display:inline-block;
    width:1em;
    height:1em;
  }
}


.thread-nested {
  display:inline-block;

  ol {
    list-style-type:none;
    padding-left: 1em;
  }
  .posting-content ol { list-style-type: decimal; }

  .answers li { position: relative; }

  .posting-nested.folded {
    cursor:pointer;

    & > .posting-header { padding-left: 1em; }

    & > .posting-header ~ h3:first-of-type { margin-top: .8em; }

    &::before {
      background-color: transparent;
      border: none;
      color: #00a1e2;
      content: "▶";
      cursor: pointer;
      display: inline;
      position: absolute;
      margin-top: .5em;
      margin-left: -.5em;
    }

    .posting-content, .forum-links, .problematic-site, .posting-footer {
      display:none;
    }
  }

  .thread-message.active {
    border-color:#66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  }
}


blockquote {
  border-left: .3em solid #d5d5d5;
  margin-left: 0;
  padding-left: 1em;
  color: #808080;
}

blockquote blockquote {
  border-width: .25em;
  padding-left: .5em;
}

hr {
  border:none;
  background-color: #8a9da8;
  height:1px;
}


/* Code-Blöcke */
code.block {
  display: block;
  white-space: pre;
  white-space: pre-wrap;
  margin-top: .5em;
  padding: .3em .4em .3em .5em;
  line-height:1.2em;
}
code.block code.block {
  border: 0 none;
  margin: 0;
  padding: 0;
  max-height: none;
  background: transparent;
}

code.good {
  color:#3C763D;
  background-color:#DFF0D8;
}

code.bad {
  color:#A94442;
  background-color:#F2DEDE;
}
/* end Code-Blöcke */

.signature {
  .sig-dashes { display:block; }
  color: #808080;
}

.btn-default.btn-sm.btn {
  margin-right:.25em;
  margin-bottom:.25em;
}

blockquote.show-quotes .unfold {
  color: #3481CD;
  &:hover, &:active, &:focus { color: #990909; }
}

.problematic-site {
  font-size: .9em;
  background-color: #fdfcf3;
  border: 1px solid #e7c157;
  border-radius: 0 .5em 0 0;
  border-bottom: 0 none;
  margin: .5em 0 -.5em;
  padding: .5em 1em;

  & + .posting-content {
    border-top-right-radius: 0;
  }

  a { font-size: 1.1em; }
  a:before {
    font-size: 1.3em;
    color: #c32e04;
    margin-right: .3em;
    vertical-align: middle;
  }
}

.md-header #forum-usage {
  margin: 3px -4px 0;
  border-top: 5px solid white;
  padding: .8em;
  text-align: center;

  a:last-child {
    color: #3481CD;
    &:hover, &:active, &:focus { color: #990909; }
  }
}

#unfold-all {
  position:fixed;
  cursor:pointer;
  border-radius: 0px 0.4em 0.4em;
  border:1px solid #D5D5D5;
  padding: 0.4em 0.6em;
  background-color:#fff;
  right:.5em;
  left:.5em;
  top:.5em;
}

textarea.length-warning, .message-character-count.length-warning, .twitter-message-character-count.length-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
textarea.length-error, .message-character-count.length-error, .twitter-message-character-count.length-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.thread-message.preview.active {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}

.thread-message.preview.active .posting-content {
  border-color: #66afe9;
}

.flattr, .message-cite {
  img { vertical-align:middle; }
  margin-top:0;
  margin-bottom:.5em;
}

.character-count-container {
  padding:0;
  text-align:right;
  width:calc(99% + 2px); // 2px border
  margin:auto;
  margin-bottom:0.2em;

  .message-character-count {
    background:#f5f5f5;
    padding: 0.25em;
    border-radius: 4px 4px 0 0;
    border: 1px solid #D5D5D5;
  }
}


.thread-message.interesting, .thread-message.interesting .posting-content {
  border-color: #8db243;
}
.thread-message.interesting {
  background: #ebf5d7;
}

@media only screen and (min-width: 35em) {
  #unfold-all {
    right:2em;
    top:40%;
    left:auto;
  }

  .character-count-container {
    width:calc(95.5% + 1em);
  }

  .thread-message {
    margin: 1em 1em 1em 0;
    padding: 0.6em 1em 0.25em 1em;
    max-width: 100%;
    max-width: 95vw;
    width: 55em;

    .posting-header, .posting-footer {
      display:flex;
      align-items: flex-end;

      header, .message-links { flex:1 1 auto; }
      .voting { flex:1 1 auto; }
    }

    .posting-footer {
      align-items: flex-start;
      .voting {
        order:1;
        flex: 0 0 auto;
      }
    }

    .posting-content {
      padding: 0.8em 1em 1em;
    }
  }

  .thread-nested ol {
    padding-left:2em;
  }
}

/* eof */
