/* -*- coding: utf-8 -*- */

#posting-author {
  color: #333;
  font-size: 90%;
  font-weight:bold;
}

main h2 { margin-left:0; }

.thread-message {
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  width: 55em;
  margin: 1em 1em 1em 0em;
  padding: 0.6em 0px 0.25em 1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;
  max-width: 100%;

  h2, header {
    border:0;
    margin:0;
    padding:0;
  }

  .posting-content {
    color: #039;
    border: 1px solid #E7C157;
    background: none repeat scroll 0% 0% #FDFCF3;
    font-family: Consolas,Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Andale Mono","Droid Sans Mono","Lucida Console",monospace;
    width: 95%;
    margin: 0.5em 0px;
    padding: 0.8em 1em 1em;
    border-radius: 0px 0.5em 0.5em;
    font-size: 0.9em;
    line-height: 1.4em;

    img { max-width:100%; }

    ul { list-style-type: disc;}

    ul ul { list-style-type: circle;}

    ul ul ul { list-style-type: square;}
  }

  hr {
    width: 95%;
    margin: 2em 0px 2em 0;
    padding: 0em 1em 0;
    border-left:0;
  }

  .accepted > header > h3 {
    margin-top: 0;
  }

  .message-links {
    font-size: .8em;

    a, button { margin-right: 1em; }
  }

  .forum-links a {
    color: #3481CD;
  }

  .deleted + .posting-content,
  .deleted + .posting-content * {
    color: #900;
    border-color: #900;
  }
}

#message {
  .root {
    min-width:54em;
    max-width:100%;
  }
}

.posting-nested {
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  width: 55em;
  margin: 1em 1em 1em 0em;
  padding: 0.6em 0px 0.25em 1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;
  max-width: 100%;

  h2, h3, h2 a, h3 a, header .author {
    border:none;
    font-weight: bold;
    margin: 0px;
  }

  header, header a {
    color:#000;
  }
}

.thread-nested {
  display:inline-block;

  ol { list-style-type:none; }
}

blockquote {
  border-left: .3em solid #d5d5d5;
  margin-left: 0;
  padding-left: 1em;
  color: #808080;
}

blockquote blockquote {
  border-width: .25em;
  padding-left: .5em;
}


/* Code-Blöcke */
code.block {
	display: block;
	white-space: pre;
	white-space: pre-wrap;
	max-height: 50em;
	overflow: auto;
	background: #fcfcfc;
	border: 1px solid #8a9da8;
	border-radius: 0 .4em .4em;
	margin-top: .5em;
	padding: .3em .4em .3em .5em;
}
code.block code.block {
	border: 0 none;
	margin: 0;
	padding: 0;
	max-height: none;
	background: transparent;
}
* html code.block {
	width: 61em;
	overflow: visible;
	overflow-x: auto;
}
code.q.block, .q code.block { /* zitierter Code-Block */
	background-image: url(http://src.selfhtml.org/forum/quote.png), linear-gradient(to bottom, #d5d5d5, #d5d5d5);
	background-repeat: no-repeat, no-repeat;
	background-position: 2px .3em, 0 0;
	background-size: auto, 22px 100%;
	padding-left: 30px;
	padding-left: calc(.5em + 22px);
	border-color: #d5d5d5;
}
/* end Code-Blöcke */

.signature {
  color: #808080;
}

/* eof */