body[data-controller="threads"][data-action="new"],
body[data-controller="messages"][data-action="new"] {
  label {
    display:block;
    margin-bottom:5px;
  }
  label span {
    display:inline-block;
    width:10%;
  }
  label input, label select {
    width:50%;
  }

  label textarea {
    display:block;
    width:60%;
    height:40em;
  }

  .form-actions {
    margin-left:10em;
  }
}

.posting-content {
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: #0000C0;
  max-width:1300px;

  .q {
    color: #333;
  }

  .signature {
    color: #999;
  }

  code {
    color:inherit;
  }
}

.message header details summary, .message header ul, .message header li:first-of-type {
  list-style-type:none;
  display:inline;
  margin-left:0;
}

.message header li {
  margin-left:0.5em;
  list-style-type:none;
  display:inline;
}


.message header details {
  font-style:italic;
  font-size:0.9em;
}

.vote {
  color:inherit;
}
.vote.active {
  color:#b94a48;
}

article.accepted {
  padding:0px 4px 4px 4px;
  background-color:#d9edf7;
  margin-bottom:1em;
  border-radius:4px;
  border:1px solid #bce8f1;
}

article.accepted .posting-content {
  margin-bottom:1em;
}

/* eof */
