/* -*- coding: utf-8 -*- */

#posting-author {
  color: #333;
  font-size: 90%;
  font-weight:bold;
}

main h2 { margin-left:0; }

.thread-message {
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  width: 55em;
  margin: 1em 1em 1em 0em;
  padding: 0.6em 0px 0.25em 1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;
  max-width: 100%;

  h2, header {
    border:0;
    margin:0;
    padding:0;
  }

  .posting-content {
    color: #039;
    border: 1px solid #E7C157;
    background: none repeat scroll 0% 0% #FDFCF3;
    font-family: Consolas,Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono","Andale Mono","Droid Sans Mono","Lucida Console",monospace;
    width: 95%;
    margin: 0.5em 0px;
    padding: 0.8em 1em 1em;
    border-radius: 0px 0.5em 0.5em;
    font-size: 0.9em;
    line-height: 1.4em;
  }

  .message-links {
    font-size:0.8em;

    a, button { margin-right:1em; }
  }
}

#message {
  .root {
    width:54em;
    max-width:100%;
  }
}

.posting-nested {
  font-size: 1em;
  background: none repeat scroll 0% 0% #F1F3F4;
  width: 55em;
  margin: 1em 1em 1em 0em;
  padding: 0.6em 0px 0.25em 1em;
  border-radius: 0px 0.7em 0.7em;
  border: 1px solid #D5D5D5;
  max-width: 100%;

  h2, h3, h2 a, h3 a, header .author {
    border:none;
    font-weight: bold;
    margin: 0px;
  }

  header, header a {
    color:#000;
  }
}

.thread-nested {
  display:inline-block;

  ol { list-style-type:none; }
}

blockquote {
  border-left: .3em solid #d5d5d5;
  margin-left: 0;
  padding-left: 1em;
}

blockquote blockquote {
  border-width: .25em;
  padding-left: .5em;
}



/* eof */