/* -*- coding: utf-8 -*- */

.diff {
  overflow:auto;

  ul {
    overflow:auto;
    font-size:13px;
    list-style:none;
    margin:0;
    padding:0;
    display:table;
    width:100%;
  }

  del, ins {
    display:block;
    text-decoration:none;
  }

  li {
    padding:0;
    display:table-row;
    margin: 0;
    height:1em;
  }

  li.ins {
    background: #fffbf0;
    color: #866a00;
  }

  li.del {
    background: #ffebe6;
    color: #c32e04;
  }

  li:hover {
    background: #fff;
  }

  ins strong {
    font-weight: normal;
    background: #e7c157;
  }

  del strong {
    font-weight: normal;
    background: #ffb68b;
  }

  /* try 'whitespace:pre;' if you don't want lines to wrap */
  del, ins, span {
    white-space:pre-wrap;
  }

  li.diff-comment {
    display: none;
  }

  li.diff-block-info {
    background: none repeat scroll 0 0 gray;
  }
}

/* eof */
