/* -*- coding: utf-8 -*- */

.thread-message .posting-content .diff {

  del, ins {
    text-decoration:none;
  }
 
  ul {
    font-size:.9em;
    margin:0;
    padding:0;
  }

  li {
    display:table-row;
  }

  li.del {
    background: #ffebe6;
    color: #c32e04;
  }

  li.ins {
    background: #ebf5d7;
    color: #5a9900;
  }

  ins strong {
    font-weight: normal;
    background: #addb52;
  }

  del strong {
    font-weight: normal;
    background: #ffaa9f;
  }

  li:hover {
    background: #fff;
  }

  li.diff-comment {
    display: none;
  }

  li.diff-block-info {
    background: none repeat scroll 0 0 gray;
  }
}

/* eof */
