/* -*- coding: utf-8 -*- */

/**
 * Angaben zum Ausdruck von Postings
 * 
 * @author: Heiko August <post@auge8472.de>
 * @author: Matthias Apsel
 * @version: 0.2
**/

.printfootnoteurls {
  margin: 1em 0;
  padding-left: 0;
  
  li {
    list-style: none;
  }

  sup.printfootnote {
    top: 0;
  }
}

.print-preview .thread-message.print .posting-content a {
  color: inherit;
}

@media print {
  body.print-preview {
    font-size: 1rem;
  
    main ~ .flex-item,
    footer,
    aside,
    #fixlink,
    h1,
    #content > h2,
    .thread-message:not(.print),
    .thread-message .voting,
    .message-links,
    .forum-links,
    div.root,
    .author-email,
    .author-homepage,
    .versions,
    .message-links ~ h3,
    .message-references,
    .thread-message .accepted,
    #unfold-all {
      display: none;
    }
  }
    
  header .details .cf-tags-list,
  .flex-container, 
  article.thread-nested,
  article.thread-message {
    display: block;
  }
  main {
    padding: 0;
  }
  .thread-message {
    background: transparent;
    border: none;
    max-width: none;
    width: auto;

    .posting-content {
      background: transparent;
      color: black;
      border: none;
    }
  }

  .thread-nested ol {
      padding-left: 0;
    }
  
  
  .cf-tags-list::before {
    content: 'Tags: ';
  }
  li.cf-tag {
    border: none;
    background: transparent;
    margin-left: 0;
    padding: 0.1em 0.1em 0;

    &:not(:last-child)::after {
      content: ', ';
    }

    a {
      color: #000;
    }
  }
  
  .problematic-site {
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    width: auto;

    a::before {
      content: '';
      margin: 0;
    }
    a::after {
      content: ': ' attr(href);
    }
  }
  
  .answers {
    padding: 0;
  }

  hr {
    border: 0;
    border-bottom: 1pt solid #000;
    margin-top: 1em;
  }
}

@media not print {
  .print-preview {
    header.top,
    aside,
    .personallinks,
    header.page-header,
    main h1,
    #content > h2,
    footer,
    div.root,
    .thread-message .voting,
    .forum-links li:not(:last-child),
    .message-links,
    .message-links ~ h3,
    .accepted,
    .message-references,
    .thread-message:not(.print) {
      opacity: 0.25;
    }
  }
}
