/* -*- coding: utf-8 -*- */

ul.search-explanation {
  padding:0;
  margin-left:1em;
}

.search-show-help {
  cursor:pointer;
  color: #3481cd;
}

.search-results {
  .thread {
    header h3 { margin-left:0; }
    ol {
      padding-left:.5em;
    }
  }
  p { margin:0; }

  .thread-forum-plate {
    font-size:80%;
  }

  .thread li.cf-tag span {
    font-weight:normal;
  }

}


/* eof */