/* -*- coding: utf-8 -*- */

a.sortable, a.sortable:visited, a.sortable:active {
  color:#3481cd;
}

.sortable.sort-descending::after {
  content:"⌄";
  margin-left:0.25em;
}
.sortable.sort-ascending::after {
  content:"⌃";
  margin-left:0.25em;
}


/* eof */