/* -*- coding: utf-8 -*- */

.cf-tags-list, header .details .cf-tags-list, .thread header ul.cf-tags-list  {
  display:inline;
  list-style-type:none;
  margin:0;
  padding:0;

  li.no-data { display:inline; }
}

.thread header ul.cf-tags-list {
  margin-right:1em;
}

.cf-tag, .thread li.cf-tag {
  display: inline;
  background-color: #e6f2f7;
  margin-right:0.5em;
  padding: .1em .4em 0 .4em;
  font-weight: bold;
  color: #3983ab;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid #a1c6d7;
  border-radius: 0 .25em .25em;
}

.cf-tag.cf-tag-hidden {
  background-color:inherit;
}

.cf-tag {
  &:link, &:visited {
    color: #3481cd;

    &:hover, &:focus, &:active {
      border: 1px solid #5983ab;
    }
  }
}


.thread {
  li.cf-tag {
    font-size: .8em;

    &:hover, &:focus, &:active {
      border: 1px solid #5983ab;
    }

    a, a:visitedtag_name, span {
      color: inherit;
    }

    a:hover, a:visited:hover { color: #990909; }
  }

  .visited li.cf-tag {
    background-color: #f1f3f4;
    border-color: #c4c4c4;

    a:visited, a, span { color: #999; }
    a:hover, a:visited:hover { color: #990909; }
  }

  .active li.cf-tag {
    a {
      font-weight: normal;
    }
  }
}

.user-info-tags {
  .cf-tag {
    font-weight: normal;
  }
}

.cf-tags-list.msg-form {
  display:block;
  margin-bottom:0.5em;
}


/* eof */
