/* -*- coding: utf-8 -*- */

.tags-list, header .details .tags-list, .thread header ul.tags-list  {
  display:inline;
  list-style-type:none;
  margin:0;
  padding:0;
}

.tag, .thread ol li.tag {
  display:inline;
  background-color: #e6f2f7;
  margin-top:1px;
  margin-bottom:1px;
  margin-left:0.5em;
  padding: 0 .6em;
  font-weight: bold;
  color: #5983ab;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border:1px solid #5983ab;
  border-radius: 0px 0.4em 0.4em;

  a:visited, a { color:inherit; }

  a:hover, a:focus, a:active { color: #990909; }
}

a.tag { font-weight:inherit; }
a.tag:hover, a.tag:focus, a.tag:active { border:1px solid #5983ab; }

.form-horizontal .cf-cgroup .cntrls input[type="text"].tags-input {
  width:10%;
  display:inline;
}

/* eof */
