/* -*- coding: utf-8 -*- */

.cf-tags-list, header .details .cf-tags-list, .thread header ul.cf-tags-list  {
  display:inline;
  list-style-type:none;
  margin:0;
  padding:0;
}

.thread header ul.cf-tags-list {
  margin-right:1em;
}

.cf-tag, .thread li.cf-tag {
  display: inline;
  background-color: #e6f2f7;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: .5em;
  padding: .1em .4em 0 .4em;
  font-weight: bold;
  color: #3983ab;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid #a1c6d7;
  border-radius: 0 .25em .25em;

  a:hover, a:focus, a:active { color: #990909; }
}

.cf-tag { font-weight: inherit; 
  &:link, &:visited {
    color: #3481cd;
  }
  &:hover, &:focus, &:active { 
    border: 1px solid #5983ab;
  }
}


.thread li.cf-tag {
  font-size: .8em;

  a, a:visited {
    color: inherit;
  }

}

.thread .visited li.cf-tag {
  background-color: #f1f3f4;
  border-color: #c4c4c4;

  a:visited, a { color: #999;}

  a:hover, a:focus, a:active { color: #990909; }

}



.form-horizontal .cf-cgroup .cntrls input[type="text"].tags-input {
  width:10%;
  display:inline;
}

/* eof */
