/* -*- coding: utf-8 -*- */

.root {
  display:inline-block;
}

.thread > ol {
  background:#fff;
  border-radius: 0px 0.5em 0.5em;
  padding-bottom:0.25em;
  clear:right;
}

.visited, a.visited, .visited a, a:visited, .thread header.visited .thread-icons form div button, .thread header.visited .message-icons form div button {
	color: #999;
}

a.visited:hover, a.visited:active,
.visited a:hover, .visited a:active,
a:visited:hover, a:visited:hover {
  color: #990909;
}

.thread-forum-plate {
  font-size: 90%;
  font-weight: bold;
  background-color: #9AAAB3;
  border-radius: 0px 0.3em 0.3em;
  color: #fff;
  padding: 0.2em 0.6em 0.15em;
}

a.thread-forum-plate:hover,
a.thread-forum-plate:focus,
a.thread-forum-plate:active {
  color: #990909;
}

a.thread-forum-plate {
  color:#fff;
}

a.thread-forum-plate:visited {
  color: #f1f3f4;
}

.thread {
  background: #F1F3F4;
  margin-bottom: .75em;
  border: 1px solid #D5D5D5;
  border-bottom:0;
  border-radius: 0px 0.5em 0.5em;
  min-width: 44em;
  padding: .35em 1em 0 .5em;
  border: 1px solid #d5d5d5;

  & > ol { 
    border-radius: 0 0 .5em .5em;
    margin: 0 -1em 0 -.5em;
    padding: .25em 1.5em .5em 4.5em;
  }

  & > header > .thread-icons {
    float:right;
  }

  .message-icons, .thread-icons {
    button { margin-left: .25em; }
    form, div {
      display:inline;

      button {
        border:0;
        padding:0;
        background-color:inherit;
        color:#3481cd;
      }
    }
  }

  .message-icons button { margin-left:0.5em; }

  ol {
    list-style-type:none;
    overflow:visible;
        
    li {
      padding:0;
      margin:0;
    }
  }

  li ol {
    margin-left:-0.75em;
  }

  header {
    line-height: 1.6em;
    white-space: nowrap;

    h2, h3 {
      font-size:1em;
      display:inline;
      line-height:inherit;
      margin:0 0 0 0.325em;
      font-weight:bold;
    }

    h2 a {
      font-weight:bold;
    }

    .details {
      display: inline;
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      font-size: 1em;
    }

    .author, .author a {
      font-weight:bold;
      white-space:nowrap;
      color:#5D7380;
    }

    .author a:hover { color: #990909; }

    .votes, .num-infos {
      display:inline-block;
      color: #8a9da8;
      font-size:0.9em;
      text-align:right;
    }

    .num-infos:before, .num-unread:before {
      content:"|";
      color:#999;
      opacity: 0.5;
      margin-left:2px;
      margin-right:2px;
    }
    .votes { margin-left:0.5em; }
  }

  header.visited .author, header.visited .author a {
    color: #8a9da8;
  }

  
  .active {
    a, .author a {
	    color: #00a1e2;
	    font-weight: bold;
    }

    .votes:before {
      content: "►";
      color: #00A1E2;
      font-size:1em;
      margin-right:0.3em;
    }
  }

  header.visited.active .author a { color: #00a1e2; }

  header.highlighted-user .author, header.highlighted-user .author a {
    color:#8ab337;
  }

  header.visited.highlighted-user .author, header.visited.highlighted-user .author a {
    color: #bdd886;
  }

  header.highlighted-self .author, header.highlighted-self .author a {
    color:#c32e04;
  }

  header.visited.highlighted-self .author, header.visited.highlighted-self .author a {
    color: #d37b6d;
  }
  /* gelöschte Beiträge */
  header.deleted .details .author,
  header.deleted .details .author a,
  .deleted, a.deleted, .deleted a {
    color: #900;
  }

  
  header.open-vote-active, header.close-vote-active {
    /* TODO style */
  }
  .open-vote-finished {
    /* TODO style */
  }

  h2 { border:0; }
}

/* angepinnte Threads */
.thread.threadlist.sticky {
  position: relative;
}
.thread.threadlist.sticky::after {
  content: url("http://src.selfhtml.org/cforum/wichtig.png");
  position: absolute;
  left: .2em;
  top: -.6em;
}

.admin-infos {
  font-size:70%;
}

.registered-user img {
  max-height: .9em;
}

.root {
  ol {
	  overflow: hidden;
  }

  ol header:before {
	  content: '';
	  font-size: 1.6px;
	  font-size: 0rem;
	  vertical-align: top;
	  padding: 500% 1px 0;
	  margin-right: 10px;
  }

  header {
	  background: asset-data-url("posting-pfeil1.png") no-repeat left bottom;
  }

  article > header, & > header, article ol li:only-child > header, &.posting ol li:only-child > header {
    background:none;
  }

  ol li:last-child > header:before {
	  background: asset-data-url("posting-linie.png") repeat-y left top;
  }

  ol li:first-child > header:before {
	  background-image: none;
  }
}

/* eof */