/* -*- coding: utf-8 -*- */

.thread {
  ol { list-style-type:none; }
  h2, h3 {
    font-size:1em;
    display:inline;
    margin-bottom:0;
    line-height:inherit;
  }

  header details, header summary, header ul, header li {
    display:inline;
  }

  header details, header ul, header li:first-of-type {
    list-style-type:none;
    margin-bottom:0;
    line-height:1em;
    font-style:italic;
    margin-left:0;
  }

  header li {
    margin-left:0.5em;
    margin-bottom:0;
    line-height:1em;
    font-style:italic;
  }

  header details {
    font-size:0.9em;
  }

  .active {
	  color: #00a1e2;
	  font-weight: bold;
  }
  .active li, .active ul {
	  color: #000;
	  font-weight: normal;
  }

  header.highlighted-user {
    color: #8ab337;
  }

  header.open-vote-active, header.close-vote-active {
    /* TODO style */
  }
  .open-vote-finished {
    /* TODO style */
  }

  margin-bottom:2em;

  h2 { border:0; }
}

#aktuellenachrichten {
	clear: both;
  margin-left:0;
  margin-bottom:1em;
}

/* eof */