/* -*- coding: utf-8 -*- */

.box {
  background-color: #F1F3F4;
  border-radius: 0px 0.4em 0.4em;
  border:1px solid #D5D5D5;
  padding: 1em 1em 1em 1em;
  display:inline-block;
}

.user-info-table {
  float:left;
  vertical-align:top;
  @extend .box;

  img { margin-right:1em; }

  table {
    border-collapse: collapse;

    th {
      text-align:right;
      color: #5D7380;
    }
    th, td {
      padding-left:.5em;
      padding-right:.5em;
    }
  }
}

.user-info-tags {
  vertical-align:top;
  list-style-type:none;
  margin-left:0;

  li {
    display:inline-block;
    margin-bottom:0.2em;
  }

  .cnt {
    display:inline-block;
    text-align:center;
    padding: 0.1em 0.6em 0.1em;
    border-radius: 0px 0.4em 0.4em;
    color:#999ca7;
    border:1px solid #999ca7;
  }
}


#username.connected {
  color:#3C763D;
}

td.score-up, td.score-down {
  vertical-align:top;

  span {
    color:#31708F;
    background-color: #DFF0D8;
    display:inline-block;
    vertical-align:middle;
    line-height:2em;
    padding-left:5px;
    padding-right:1px;
    border-radius:4px;
  }
}

td.score-down span {
  color: #A94442;
  background-color: #F2DEDE;
}

.users-tags-list {
  th {
    text-align:right;
    padding-right:0.5em;
  }
}

.badge-user-list {
  list-style-type:none;
  padding-left:0;
  .medal-image { max-height:1em; }
}

/* eof */
