/* -*- coding: utf-8 -*- */

.box {
  background-color: #F1F3F4;
  border-radius: 0 .4em .4em;
  border: 1px solid #D5D5D5;
  padding: 1em .7em .7em 1em;
  display:inline-block;
}

.user-infos {
  display:flex;
  flex-flow: row wrap;
  justify-content:flex-start;
  align-items: stretch;

  .user-info-table {
    @extend .box;

    flex:1 1 auto;
    vertical-align:top;
    margin-bottom:.5em;

    img { margin-right:1em; }

    & ~ .thread {
      border: 1px solid #d5d5d5;
      padding: .35em 1em;
    }
  }

  .user-profile {
    flex:1 1 auto;
    @extend .box;
  }

  .user-info-table, .user-profile {
    table {
      border-collapse: collapse;

      th {
        text-align:right;
        color: #5D7380;
        vertical-align:top;
      }
      th, td {
        padding-left: .2em;
        padding-right: .2em;

        p:first-of-type {
          margin-top:0;
        }
      }
    }
  }
}

.user-info-tags {
  vertical-align: top;
  list-style-type: none;
  margin-left: 0;
  padding-left:0;

  li {
    display: inline-block;
    font-size: .9em;
    margin-bottom: .5em;
    margin-right:.5em;

    .cf-tag {
      margin-left:0;
      span {
        margin-right:0.5em;
      }
    }
  }

  .cnt {
    margin-left:.25em;
    display: inline-block;
    text-align: center;
    padding: .1em .6em 0 .6em;
    border-radius: 0 .3em .3em;
    color: #5d7380;
    border: 1px solid #c4c4c4;
  }
}

#username.connected {
  color: #c32e04;
}

.score-table {
  width: 100%;

  td.score {
    vertical-align: top;

    span {
      color:#31708F;
      background-color: #DFF0D8;
      display: inline-block;
      vertical-align: middle;
      line-height: 2em;
      padding-left: 5px;
      padding-right: 5px;
      border-radius: 0 .5em .5em;
      border: 1px solid #8db243;
    }

    span.score-down {
      color: #A94442;
      background-color: #F2DEDE;
      border: 1px solid #EBCCD1;
    }

  }

  .thread {
    padding: .35em 1em;
  }
}


.users-tags-list {
  th {
    text-align:right;
    padding-right:0.5em;
  }
}

.badge-user-list {
  list-style-type:none;
  padding-left:0;
  .medal-image { max-height:1em; }
}

#registrations-new {
  .success {
    border:1px solid #0f0;
  }
  .failure {
    border:1px solid #f00;
  }
}

.svg-i {
  height:.8em;
}

.users.show {
  .root {
    display:block;
  }
}

@media only screen and (min-width : 35em) {
  .user-infos {
    .user-info-table {
      flex:0 1 auto;
      margin-bottom:0;
      margin-right:.5em;
    }

    .user-profile {
      flex:0 1 auto;
    }
  }
}

/* eof */
