<p>Hallo <%= @resource.username %>!</p>

<p>Jemand, hoffentlich Sie, hat einen Link um Ihr Passwort zu ändern angefragt. Sie können das durch den folgenden Link tun:</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls Sie diesen Link nicht angefordert haben, ignorieren Sie diese Mail einfach.</p>
<p>Ihr Passwort wird sich nicht ändern, bis Sie den oben aufgeführten Link besuchen.</p>

