<% if object.errors.any? %>
  <div id="error_explanation" class="cf-error">
    <h4><%= t('error_message', count: object.errors.count, scope: scope) %></h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
