<%
content_for :title, t('archive.archive_years', forum: current_forum ? current_forum.name : t('forums.all_forums'))
content_for :h1, t('archive.archive_years', forum: current_forum ? current_forum.name : t('forums.all_forums'))
content_for :body_id, 'archive-years'
content_for :body_classes, 'archive years forum-' + (current_forum.try(:slug) || 'all')
%>

<ul>
  <% (@first_year..@last_year).to_a.reverse.each do |year| %>
    <li><%= cf_link_to year, cf_archive_year_path(current_forum, year) %></li>
  <% end %>
</ul>
