<%
content_for(:title, t('archive.archive_year', year: l(@year, format: "%Y"),
                      forum: current_forum ? current_forum.name : t('forums.all_forums')))
content_for(:h1, t('archive.archive_year', year: l(@year, format: "%Y"),
                   forum: current_forum ? current_forum.name : t('forums.all_forums')))
content_for :body_id, 'archive-year'
content_for :body_classes, 'archive year forum-' + (current_forum.try(:slug) || 'all')
%>

<ul>
  <% @months.each do |mon| %>
    <li><%= cf_link_to l(mon, format: "%B"), cf_archive_month_path(current_forum, mon) %></li>
  <% end %>
</ul>
