<%
subnav = capture do
  begin %>
<%= render 'subnav' %><% @has_subnav = true
  rescue ActionView::MissingTemplate
    @has_subnav = false
  end
end

if @has_subnav %>
<div class="cf-span2">
  <%= subnav %>
</div>
<% end %>
