<%
content_for :title, t('plugins.interesting_threads.interesting_threads')
content_for :h1, t('plugins.interesting_threads.interesting_threads')
content_for(:body_id, "interesting-threads-list")
content_for(:body_classes, 'interesting-threads list')
%>

<div data-js="threadlist">
  <% if @threads.empty? %>
    <p><%= t('plugins.interesting_threads.no_threads') %></p>
  <% end %>
  <% @threads.each do |thread| %>
    <%=  render 'cf_threads/thread', thread: thread %>
  <% end %>
</div>
